@media (max-width: 775px) {
    .powered-by img {
        width: 19px !important;
    }
    .page_1 {
        width: 90% !important;
        margin-left: 40px !important;
        margin-top: 25px !important;
        margin-bottom: 45px !important;
    }
    .page_2.w100.result-fixed {
        position: relative !important;
        left: 0px;
        top: 50px;
        width: 90%;
        float: left;
        margin-top: 0px;
        margin-left: 40px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        margin-bottom: 50px;
        padding-bottom: 20px;
    }
    .page_2 {
        position: relative !important;
        width: 90% !important;
        left: 30px;
        margin-top: 50px !important;
        margin-top: 0px !important;
        float: left;
        margin-top: 0px;
        margin-left: 40px;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
    }
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
        padding: 7% 6% !important;
        padding-top: 100px !important;
    }
    .page-logo {
        display: none;
    }
    .prime-action {
        padding: 13px 30px;
        /*font-size: 2.3vmin !important;*/
    }
    .landing-page-mid .main-heading {
        font-size: 6vmin !important;
        padding: 0 10px;
        line-height: 1.2em !important;
    }
    .landing-page-mid .input-section {
        width: 92%;
    }
    .landing-page-mid .input-section .input-outer {
        width: 45% !important;
        margin-left: 10px;
    }
    .landing-page-mid .input-section input {
        margin: 10px 0px !important;
    }
    .temp2-scrollbar {
        overflow-y: auto !important;
        height: auto !important;
        display: initial;
    }
    .page_2.w100 .mobile-result-linkAdd {
        font-size: 14px;
        width: 70%;
        text-align: left;
        z-index: 99;
        display: none;
        visibility: visible !important;
        padding-bottom: 15px;
    }
    .page_2.w100 .mobile-result-linkAdd i {
        font-size: 16px;
        top: 3px;
        position: relative;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) {
        width: 94% !important;
    }
    .result-branding {
        /*display: none;*/
    }
    .page_2 .disc-set {
        width: 100%;
        text-align: center;
    }
    .page_2 .share-link {
        margin-top: 0px !important;
    }
    .page_0 .input-outer i {
        font-size: 18px !important;
        top: 27px !important;
    }
    .main-bg header .logo img {
        max-width: 140px !important;
        max-height: 45px !important;
    }
    .powered-by span {
        font-size: 11px !important;
    }
    .result-branding .powered-by span {
        float: none;
        margin-right: 5px;
        font-size: 12px;
        white-space: nowrap;
    }
    .stickyfooter.lightSticky {
        padding: 5px 20px;
    }
    .stickyfooter {
        position: absolute !important;
        padding: 5px 30px !important;
        bottom: 0px !important;
    }
    .create-link {
        padding: 5px 10px;
    }
    .powered-by span {
        margin-top: 1px !important;
    }
    .landing-page-mid .sub-heading {
        font-size: 2.8vmin !important;
        padding: 0 60px;
    }
    .landing-page-mid .sub-heading {
        font-size: 2.8vmin !important;
    }
    .mobile-result-link i.material-icons {
        background: #ff6600;
        color: #fff;
        border-radius: 50%;
        display: inline;
        font-size: 17px;
    }
    .landing-page-mid .input-section .input-outer span {
        font-size: 9px !important;
    }
    .page_0 .landing-page-mid .input-outer.w100 {
        width: 94% !important;
    }
}
@media (max-width: 375px) {
    header .logo {
        width: 100% !important;
        text-align: center !important;
    }
    .footer-nav {
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer-nav li {
        width: 100%;
    }
    .page_2 {
        position: relative !important;
        width: 100% !important;
        float: left;
        margin-left: 0 !important;
        margin-bottom: 30px;
        border-radius: 0 !important;
        left: 0;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) {
        width: 100% !important;
    }
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        z-index: 999 !important;
    }
    .page_2 .result-full-section .input-section input {
        width: 100% !important;
        margin: 8px 0 !important;
    }
    .result-full-section .input-section .input-outer span {
        margin-left: 0 !important;
    }
    .main-bg header .logo {
        padding: 28px !important;
    }
    /*.main-bg header .logo img {
        max-width: 45% !important;
        max-height: 40px !important;
    }*/
    /*.main-bg header .logo img{
        max-width: 100%;
        max-height:45px;
    }*/
    
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
        /*padding: 0 !important*/
    }
    .page-logo {
        display: none;
    }
    .redo-link ul li {
        padding: 2px 6px !important;
    }
    .redo-link ul li a {
        font-size: 12px !important;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    .landing-page-mid .input-section {
        width: 90% !important;
        margin: 30px auto 0 0 !important;
        margin-left: 30px !important;
    }
    .landing-page-mid .input-section .input-outer {
        width: 100% !important;
    }
    .landing-page-mid .input-section .input-outer input {
        margin-bottom: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .landing-page-mid .main-heading {
        font-size: 8vmin !important;
        line-height: 1.3em !important;
        /*margin-top: 30%;*/
    }
    .landing-page-mid .sub-heading {
        font-size: 3vmin !important;
        line-height: 1.3em !important;
    }
    .landing-page-mid .prime-action {
        font-size: 3.5vmin !important;
    }
    .landing-page-mid .sub-heading {
        font-size: 3vmin !important;
        line-height: 1.3em !important;
    }
    .temp2-scrollbar {
        overflow-y: auto !important;
        height: auto !important;
    }
    .page_2.w100 .mobile-result-linkAdd {
        font-size: 14px;
        width: 70%;
        text-align: left;
        z-index: 99;
        display: none;
    }
    .page_2.w100 .mobile-result-linkAdd i {
        font-size: 16px;
        top: 3px;
        position: relative;
    }
    .page_0 .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) {
        width: 98% !important;
    }
    .like-cta-outer .btn-fb {
        margin: 10px 0 !important;
    }
    .like-cta-outer .btn-twitter {
        margin: 10px auto !important;
        width: 50%;
    }
    .like-cta-outer .btn-lg:nth-child(3) {
        margin-top: 0px !important;
    }
    .input-field label ~ input {
        width: 50%;
    }
    .input-field input[type=number] {
        width: 50%;
        float: left;
    }
    .page_2 .like-cta-outer .twitter-follow-button {
        /*margin: 10px 0 5px 5px !important*/
        
        margin: 0 auto;
    }
    .questions .section-head span div {
        width: 97% !important;
    }
    .page_0 .input-outer i {
        left: 13px !important;
        top: 15px !important;
        font-size: 14px !important;
    }
    .page_0 .landing-page-mid .input-section .input-outer input {
        padding-left: 30px !important;
    }
}
@media (min-width: 1500px) {
    .page_2.result-fixed {
        min-height: 480px;
        top: 80px !important;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) {
    .page_2 .share-link {
        width: 100% !important;
    }
    .page_0 .input-outer i {
        top: 26px !important;
        font-size: 18px !important;
    }
    .page_1.w100 .question-section .question-components.dropdown-outer-main .selectize-dropdown-content {
        max-height: 90px !important;
    }
    .page_1.w100 .question-section .question-components .selectize-dropdown-content {
        max-height: 90px !important;
    }
}
@media (min-width: 1800px) and (max-width: 1920px) {
    .temp2-scrollbar {
        max-height: 835px !important;
    }
}
@media (min-width: 1366px) and (max-width: 1366px) {
    .page_2 .share-link ul li a {
        font-size: 20px !important;
    }
    .landing-page-mid .main-heading {
        margin-top: 15px;
    }
    .landing-page-mid .input-section {
        margin: 20px auto 0 auto !important;
    }
    .page_2 .like-cta-outer .btn-fb {
        margin: 10px 5px 10px 0 !important;
    }
    .page_0 .input-outer i {
        top: 26px !important;
        font-size: 18px !important;
    }
    .page_1.w100 .question-section .question-components .selectize-dropdown-content {
        max-height: 90px !important;
    }
    .page_1.w100 .question-section .question-components.dropdown-outer-main .selectize-dropdown-content {
        max-height: 90px !important;
    }
    .page_1 .question-section .question-components.dropdown-outer-main .selectize-dropdown {
        margin-bottom: 10px;
    }
}
@media (min-width: 150px) and (max-width: 768px) {
    .temp2-bg {
        display: none;
    }
    .landing-page-mid .container-temp {
        Width: 76% !important;
    }
    .page_2 .disc-set {
        padding-bottom: 15px;
    }
    .col {
        width: 100%;
        float: left;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .col,
    .powered-by {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .powered-by.lightPowered span {
        color: #585858 !important;
        text-shadow: none !important;
    }
    .landing-footer-outer .powered-by.lightPowered span {
        color: #fff !important;
        text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5) !important;
    }
    .page_2 .share-link {
        width: auto;
        z-index: 999;
        position: relative;
    }
    .redo-link ul li {
        padding: 2px 6px;
    }
    .redo-link ul li a {
        font-size: 12px;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
        margin-top: 15px !important;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    header .logo {
        width: 100% !important;
        text-align: center !important;
    }
    .page_1 {
        width: 100% !important;
        margin-left: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        box-shadow: none !important;
        margin-top: 0px !important;
    }
    .page_2.w100.result-fixed {
        position: relative !important;
        width: 100%;
        float: left;
        margin-left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0 !important;
        margin-bottom: 0px;
        overflow: visible;
        padding-top: 40px;
    }
    .page_2.w100.result-fixed.hasbranding {
        padding-bottom: 40px;
    }
    .footer-nav {
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer-nav li {
        width: 100%;
    }
    .page_2 {
        position: relative !important;
        width: 100% !important;
        float: left;
        margin-top: 0px !important;
        margin-left: 0 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        top: 0px !important;
        left: 0px;
    }
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        z-index: 999 !important;
    }
    .page_2 .result-full-section .input-section input {
        width: 100% !important;
        margin: 8px 0 !important;
    }
    .result-full-section .input-section .input-outer span {
        margin-left: 0 !important;
    }
    .main-bg header .logo {
        padding: 28px !important;
        padding-top: 20px !important;
    }
    .main-bg header .logo img {
        max-width: 140px !important;
        max-height: 45px !important;
    }
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
        padding-top: 54px !important
        /*padding: 0% !important;*/
    }
    .page-logo {
        display: none;
    }
    .redo-link ul li {
        padding: 2px 6px !important;
    }
    .redo-link ul li a {
        font-size: 12px !important;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    .landing-page-mid .input-section {
        width: 90% !important;
        margin: 0 auto !important;
        margin-top: 4px !important;
    }
    .landing-page-mid .input-section .input-outer {
        width: 47% !important;
        margin-left: 5px;
        min-height: 43px !important;
    }
    .landing-page-mid .input-section .input-outer input {
        margin-left: 2% !important;
        margin-right: 10px !important;
        padding: 6px;
        margin-top: 6px !important;
        margin-bottom: 8px !important;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) input {
        margin-left: 1% !important;
        margin-right: 10px !important;
        margin-top: 6px !important;
        margin-bottom: 8px !important;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) span {
        padding-left: 0;
    }
    .landing-page-mid .input-section .input-outer input {
        font-size: 12px !important;
    }
    .landing-footer-outer {
        position: absolute !important;
    }
    .landing-page-mid .main-heading {
        margin-top: 6%;
        margin-bottom: 8px !important;
        font-size: 6vmin !important;
        line-height: 1.3em !important;
        padding: 0;
    }
    .landing-page-mid .sub-heading {
        font-size: 3.3vmin !important;
        line-height: 1.3em !important;
    }
    .landing-page-mid .prime-action {
        font-size: 3.5vmin !important;
        padding: 8px 26px;
        margin-top: 8px;
        white-space: normal !important;
    }
    .landing-page-mid .input-section .input-outer span {
        top: 41px !important;
        left: 2% !important;
    }
    .powered-by img {
        max-width: 20px;
        display: inline;
        vertical-align: middle;
    }
    .powered-by .poweredby-text {
        font-size: 13px !important;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) {
        width: 97% !important;
    }
    .result-branding {
        /*display: none;*/
    }
    .page_2 .mid-width p {
        font-size: 16px !important;
    }
    .input-field label ~ input {
        width: 50% !important;
    }
    .page_2 .like-cta-outer .twitter-follow-button {
        /*margin: 10px 0 -5px 5px !important*/
        
        margin-top: 0px;
    }
    .questions .section-head span div {
        width: 97% !important;
    }
    .page_0 .input-outer i {
        left: 13px !important;
        top: 15px !important;
        font-size: 14px !important;
    }
    .page_0 .landing-page-mid .input-section .input-outer input {
        padding-left: 26px !important;
    }
    @-moz-document url-prefix() {
        .like-cta-outer .twitter-follow-button {
            /*margin-left: 20px !important;*/
        }
    }
    .likes-parent {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .sound-cloud .landing-page-mid select {
        padding: 6px !important;
        margin: 6px 3px !important;
        font-size: 12px !important;
        min-height: 35px !important;
    }
    .sound-cloud .landing-page-mid leadform [type="checkbox"] + label.leadform-checkbox {
        padding: 0px 14px 0px 28px !important;
        margin-left: 8px !important;
        padding-bottom: 0;
        line-height: 28px !important;
        font-size: 12px;
    }
    .sound-cloud .page_0 .landing-page-mid leadform [type="checkbox"] + label.leadform-checkbox:before,
    .sound-cloud .landing-page-mid leadform [type="checkbox"]:not(.filled-in) + label.leadform-checkbox:after {
        margin: 4px 0 !important;
    }
    .sound-cloud .page_0 .landing-page-mid [type="checkbox"].filled-in:not(:checked) + label.leadform-checkbox:after,
    .sound-cloud .page_0 .landing-page-mid [type="checkbox"].filled-in:checked + label.leadform-checkbox::after {
        margin: 4px 0 !important;
    }
    .sound-cloud .page_0 .landing-page-mid [type="checkbox"].filled-in:checked + label.leadform-checkbox:before {
        top: 1px !important;
        left: 2px !important;
    }
    .sound-cloud .landing-page-mid select option {
        font-size: 12px !important;
        padding: 10px !important;
    }
    .page_0 .landing-page-mid .selectize-control.single .selectize-input {
        margin: 6px 1px !important;
        max-height: 35px !important;
        min-height: 35px !important;
    }
    .page_0 .selectize-input {
        padding: 5px 35px 3px 15px !important;
    }
    .page_0 .landing-page-mid .selectize-input .item {
        font-size: 12px !important;
    }
    .page_0 .landing-page-mid .input-outer.w100 {
        width: 96% !important;
    }
    .page_0.w100 .landing-page-mid .selectize-dropdown.single {
        font-size: 13x !important;
        top: 43px !important;
        left: 1px !important;
        width: 96% !important;
    }
    .selectize-dropdown [data-selectable],
    .selectize-dropdown .optgroup-header {
        padding: 7px 16px !important;
        font-size: 13px !important;
    }
    .range-slider .irs-single {
        border-radius: 5px !important;
        padding: 1px 4px !important;
        max-width: 65px !important;
    }
    .range-slider .irs-min, .range-slider .irs-max{
        border-radius: 5px !important;
        padding: 1px 4px !important;
        max-width: 65px !important; 
    }
}
@media (min-width: 150px) and (max-width: 500px) {
    .landing-page-mid .container-temp {
        Width: 93% !important;
    }
}
@media (min-width: 780px) and (max-width: 1024px) {
    .landing-page-mid {
        padding-bottom: 0px !important;
        /*padding-top: 3% !important;*/
    }
    .main-bg header .logo {
        padding-top: 20px !important;
        padding-left: 20px !important;
    }
    .page-logo {
        padding-top: 20px !important;
        padding-left: 20px !important;
    }
    .landing-page-header .logo img {
        max-width: 60% !important;
    }
    .landing-page-mid .input-section {
        margin: 0px auto !important;
    }
    .page_1 {
        margin-left: 7% !important;
        width: 50% !important;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
    .page_2.w100 {
        width: 36% !important;
        margin-top: 20px !important;
    }
    .page_2 .mid-width p {
        font-size: 16px !important;
    }
    .page_2.result-fixed {
        width: 36% !important;
        top: 30px !important;
    }
    .temp2-scrollbar {
        overflow-y: scroll;
        min-height: 525px;
        max-height: 654px;
    }
    .page_0 .input-outer i {
        top: 26px !important;
    }
    .page-logo {
        display: none !important;
    }
}
@media (min-width: 150px) and (max-width: 320px) {
    .page_2 {
        -webkit-border-top-right-radius: 0 !important;
        -webkit-border-bottom-right-radius: 0 !important;
        -moz-border-radius-topright: 0 !important;
        -moz-border-radius-bottomright: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-radius: 0 !important;
        border-radius: 0 !important;
    }
    .page_2.w100 .temp2-scrollbar .mobile-result-link {
        bottom: 2% !important;
        left: 29% !important;
    }
    .page_2 .result-full-section.result-temp2-default-section .small-top-sec p:nth-child(1) {
        /*font-size: 7vmin !important;*/
        
        margin-bottom: 2% !important;
    }
    .page_2 .result-temp2-default-section.result-full-section .small-top-sec p:nth-child(2) {
        /*font-size: 3.8vmin !important;*/
        
        margin-bottom: 2% !important;
    }
    .page_2 .result-temp2-default-section.result-full-section .small-top-sec p:nth-child(3) {
        /*font-size: 3.5vmin !important;*/
        
        margin-bottom: 2% !important;
    }
    .page_2 .btn.prime-action {
        padding: 3% 6% !important;
        font-size: 12px !important;
        margin-bottom: 7% !important;
    }
}
@media (min-width: 0px) and (max-width: 275px) {
    .landing-page-mid .input-section .input-outer {
        width: 46% !important;
    }
}
@media (min-width: 1680px) and (max-width: 1920px) {
    .main-bg header .logo img {
        max-height: 70px !important;
    }
    .landing-page-header .logo img {
        max-height: 70px !important;
    }
    .page-logo img {
        max-height: 70px !important;
    }
    .page_0 .landing-page-mid .selectize-control.single .selectize-input {
        min-height: 63px;
    }
    .landing-page-mid .input-section .input-outer {
        min-height: 83px !important;
    }
    .page_0 .landing-page-mid .selectize-control.single .selectize-input {
        min-height: 62px !important;
        max-height: 64px !important;
    }
    .range-slider.char-count-slider .irs-min, .range-slider.char-count-slider .irs-max {
        font-size: 12px !important;
        top: -10px !important;
    }
    .range-slider.char-count-slider .irs-single {
        font-size: 12px !important;
        top: -10px;
    }
}
@media (min-width: 1920px) and (max-width: 1920px) {
    .page_2 .share-link ul li a {
        font-size: 22px !important;
    }
    .landing-page-mid .input-section .input-outer input {
        padding: 16px !important;
        font-size: 18px !important;
    }
    .landing-page-mid .input-section .input-outer span {
        top: 74px !important;
    }
    .landing-page-mid .main-heading.th-bold-new {
        margin-bottom: 20px !important;
    }
    .landing-page-mid .input-section {
        margin: 25px auto 0 auto !important;
    }
    .landing-page-mid .prime-action {
        margin-top: 25px !important;
    }
    .input-outer i {
        top: 30px !important;
    }
}
@media (min-width: 1367px) and (max-width: 1920px) {
    .btn-fb {
        font-size: 14px;
    }
    .btn-twitter {
        font-size: 14px;
    }
    .btn-in {
        font-size: 14px;
    }
    .like-cta-outer .btn-fb {
        margin: 10px 5px 20px 0 !important;
    }
}