body{margin:0;padding:0;font-size:14px;  background: #f2f2f2 !important; float: left; width:100%;}
.elem {
    height: 13px;
    display: block;
    transition-property: transform;
    transition-duration: 1s;
    color: #bec5c9;
    font-size: 13px;
}

.elem i.material-icons{
    font-size: 13px;
    vertical-align: top;
}


.elem-rotate {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #fb545b;
}
.elem.elem-rotate i.material-icons{
    font-size: 13px;
}

.template-section input:not([type]),.template-section input[type=text],.template-section input[type=password],.template-section input[type=email],.template-section input[type=url],.template-section input[type=time],.template-section input[type=date],.template-section input[type=datetime],.template-section input[type=datetime-local],.template-section input[type=tel],.template-section input[type=tel_us],.template-section input[type=number] ,.template-section input[type=fullName] ,.template-section input[type=lastName] ,.template-section input[type=firstName] ,.template-section input[type=search],.template-section input[type=name],.template-section input[type=others],input[type=Phone],.template-section textarea.materialize-textarea{background-color:transparent;border:1px solid #d9dad3;border-radius:0;outline:none;width:100%;font-size:16px;margin:0 0 15px 0;padding:16px 2%;box-shadow:none;transition:all 0.3s;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.template001{width:100%;height:100%;list-style-position:outside;margin:0;padding:0;}

.input-section input:not([type]),.input-section input[type=text],.input-section input[type=password],.input-section input[type=email],.input-section input[type=url],.input-section input[type=time],.input-section input[type=date],.input-section input[type=datetime],.input-section input[type=datetime-local],.input-section input[type=tel],.template-section input[type=tel_us],.input-section input[type=number],.input-section input[type=search],.input-section input[type=fullName] ,.input-section input[type=lastName] ,.input-section input[type=firstName] ,.input-section input[type=name],.input-section input[type=others],input[type=Phone],.input-section textarea.materialize-textarea{background-color:transparent;border:1px solid #d9dad3;border-radius:0;outline:none;width:100%;font-size:16px;margin:0 0 30px 0;padding:16px 2%;box-shadow:none;transition:all 0.3s;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.template001{width:100%;height:100%;list-style-position:outside;margin:0;padding:0;}

.question-components input{background-color:transparent;border:1px solid #d9dad3;border-radius:0;outline:none;width:100%;font-size:16px;margin:0 0 15px 0;padding:16px 2%;box-shadow:none;transition:all 0.3s;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; border-collapse:separate;}

/*Main Section Style */
.main-bg{-webkit-background-size:cover !important;-moz-background-size:cover !important;-o-background-size:cover !important;background-size:cover !important;width:100%;height:100%;position:relative;vertical-align:middle;text-align:center; box-shadow: 0 2px 9px 2px rgba(0,0,0,0.4);}
.main-body{ float: left; width: 100%;}
.container-temp{width:90%;margin:0 auto;display:inline-block;}
select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000;}

/*LANDING PAGE CSS START HERE */

logo{position:absolute;left:0px;}
header .logo a{cursor:default}

/*header section*/
.landing-page-header{float:left;width:100%;padding:10px;position:absolute;top:0px;}
.landing-page-header .logo{float:left;padding:15px 10px;width:180px;}
.landing-page-header .logo img{max-width:100%; max-height: 50px;}
.landing-page-header .logo span{color:#fff;font-size:18px;margin-left:15px;font-family:montserratregular;}

/*header section end*/

/*Content section */

.landing-page-mid{width:100vw !important;display:table-cell;vertical-align:middle;height:100vh !important;text-align:center; background:rgba(0,0,0,0.45);     padding: 8% !important; }
.landing-page-mid header{width:90%;margin:0 auto;word-break:break-word; padding-top:20px;}

/*.input-outer {    width: 100vw; display: table-cell; vertical-align: middle;text-align: center;  } */
.landing-page-mid .cta-outer{width:100vw;display:table-cell;vertical-align:middle;height:20vh;text-align:center;}
.landing-page-mid .main-head{font-family:montserratregular;font-size:48px;color:#00e3d8;word-wrap:break-word;}
.landing-page-mid .sub-head{font-family:montserratregular;font-size:24px;color:#e5e5e6;word-wrap:break-word;}
.landing-page-mid .description{font-family:montserratregular;font-size:14px;color:#b8b9bb;margin-top:25px;word-wrap:break-word;padding:0 20%;}
.landing-page-mid .input-section{width:65%;margin: 0 auto; display: inline-block;}
.landing-page-mid .input-section input{width:43%!important;margin:8px;border:2px solid #c4c4c6!important;color:#fefeff;font-family:montserratregular;font-size:14px!important;}
.landing-page-mid .input-section::-webkit-input-placeholder{color:#c4c4c6;}
.landing-page-mid .input-section .input-outer{float:left;width:49%;position:relative;}
.landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd){width:100%;}
.landing-page-mid .input-section .input-outer input{float:left;width:96%!important;margin: 10px 28px;border:2px solid #c4c4c6!important;color:#fefeff;font-family:montserratregular;font-size:14px!important;margin-bottom:20px !important; padding-left:35px !important;}
.landing-page-mid .input-section .input-outer i{position: absolute;top: 28px;left: 38px;font-size: 20px;}
.landing-page-mid .input-section .input-outer span{float:left;width:100%;position:absolute;top:68px;left:25px;text-align:left;padding-left:2px;color:#f44336;font-size:12px;}
.landing-footer-outer{position:absolute;width:100%;padding:10px 25px; bottom:0;}
.landing-footer-outer .footer-nav{margin:0;padding:0;float:left;}
.landing-footer-outer .footer-nav li{float:left;display:inline;}
.landing-footer-outer .footer-nav li a{color:#fff;font-family:montserratregular;font-size:12px;text-decoration:none;}
.landing-footer-outer .footer-nav li a:hover{color:#fff;}
.landing-footer-outer .footer-nav li span{color:#fff;font-family:montserratregular;font-size:12px;text-decoration:none;padding:5px 10px;}
.landing-footer-outer .powered-by{float:right;text-align:right;}
.landing-footer-outer .powered-by span{color:#fff;font-size:12px;margin-right:5px;font-family:montserratregular; text-shadow: 3px 4px 3px rgba(0,0,0,0.5);}
.landing-footer-outer .powered-by img{width:auto;padding-bottom:5px;}
.landing-page-mid .prime-action{ font-size:2min !important; box-shadow: 1px 10px 10px 3px rgba(0,0,0,0.3); color: #ffffff !important; margin-bottom: 80px; text-transform: uppercase;}



/*LANDING PAGE CSS END HERE */

/*Questions Section Style Start*/

.questions{padding-top:7%;float:left;width:100%; height: 100% !important; padding-bottom:3%; min-height: 100vh;}
.question-section-outer{float:left;width:66.66%;margin-left:16.6%;}
.questions .question-section-outer .questions-header header{background:#161a29;float:left;width:100%;padding:0; box-shadow:2px 2px 10px 0px rgba(0,0,0,0.10); }
.questions .question-section-outer .questions-header header .p-right0{padding-right:0;}
.questions .question-section-outer .questions-header header .logo{float:left;padding:10px;}
.questions .question-section-outer .questions-header header .right-sec{float:left;background:#f7da64;min-height:70px;padding:13px 10px 10px 2%;position:absolute; right:0;}
.questions .question-section-outer .questions-header header .right-sec i{font-size:20px;color:#012435;position:absolute;left:-72px;}
.questions .question-section-outer .questions-header header .right-sec p{float:left;font-size:11px;color:#012435;padding-left:26px;font-family:montserratregular;margin-bottom:5px; margin-top:0;}
.questions .question-section-outer .questions-header header .right-sec span{float:left;font-size:20px;color:#012435;font-family:montserratregular;padding-left:5px; width:100%;}
.que-fixed{position:fixed;top:0;width:100%;z-index:99;}
.template-section .que-fixed { z-index: -1;}
.question-page{padding-top:7%;}
.questions .question-head{font-family:montserratregular;font-size:4.5vmin;text-align:center;color:#232f3f;margin-bottom:5px; word-break: break-word;}
.questions .question-subhead{font-family:montserratlight;font-size:2.7vmin;text-align:center;color:#232f3f;width:75%;margin:0 auto;}
.questions .section-head{font-size:20px;margin-bottom:10px;font-family:montserratlight;color:#666e78;width:100%;float:left; word-break:break-word;}
.questions .file-outer .section-head{font-size:22px;margin-bottom:10px;font-family:montserratlight;color:#666e78;}
.questions .section-head i{color:#dcdddf;font-size:24px;margin-top:4px;}
.questions .question-components{width:100%;display:inline-block;padding-bottom:30px;}
.questions .question-components .check-comp label{margin-bottom:0;min-height:62px;color:#666e78;}
.questions .section-head span{margin-bottom:10px;display:inline-block;}
.questions .section-head span div{display:inline-block;}
.questions .question-components input{color:#666e78}
.questions .date-picker-outer .section-head{font-size:22px;margin-bottom:10px;font-family:montserratlight;color:#666e78;margin-top:-20px;}


.question-section .input-section .input-outer span  {float: left; width: 100%;text-align: left; color: #f44336;font-size: 12px;z-index: 1; margin-top: -22px;  margin-bottom: 8px;}
.head-padding{padding-top:10px;}
.questions .question-section{ box-shadow:3px 10px 19px 5px rgba(0,0,0,0.10);}
.questions .question-section{width:100%;display:inline-block;padding:30px 40px;background:#fff; margin-top: 30px;}
/*Questions Section Style End*/

/*Common Style for All Themes  */

.input-section:-moz-placeholder{    /* Firefox 18- */
color:#c4c4c6;}
.input-section::-moz-placeholder{    /* Firefox 19+ */
color:#c4c4c6;}
.input-section:-ms-input-placeholder{color:#c4c4c6;}
.btn.prime-action{font-size:18px;color:#fff;margin-top:30px;margin-bottom:40px;padding:10px 60px;border-radius:0!important;white-space:normal;}


/* counter Buttons Control*/
.counter{float:left;padding:5px;border:1px solid #dcdddf;font-family:montserratlight;margin-bottom:20px;}
.qty{width:100px!important;height:25px;text-align:center;float:left;border:none!important;margin-bottom:0!important;font-size:16px!important;}
.qtyplus{width:25px;height:25px;background:none;float:left;margin-left:10px;cursor:pointer;font-size:20px;padding:5px;}
.qtyminus{width:25px;height:25px;float:left;margin-right:10px;cursor:pointer;font-size:20px;padding:5px;}
.qtyminus .material-icons,.qtyplus .material-icons{font-size:20px!important}

/* switch Buttons  Control */
.switch-outer{width:100%;float:left;padding:8px 15px;border:1px solid #d9dad3;font-size:16px;font-weight:normal;line-height:16px;border-bottom:0;font-family:montserratlight;}
.switch-outer:last-child{border-bottom:1px solid #d9dad3;}
.switch-outer .switch-que{float:left;padding:12px;font-size:16px;text-align:left;font-family:montserratlight;width:80%;line-height:20px;color:#232f3f;}
.switch-outer .switch{display:table-cell;vertical-align:middle;    padding: 9px 5px;
    margin-top: -1px;}
.switch-outer .cmn-toggle{position:absolute;margin-left:-9999px;visibility:hidden;}
.switch-outer .cmn-toggle + label{display:block;position:relative;cursor:pointer;outline:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.switch-outer input.cmn-toggle-round-flat + label{padding:2px;width:62px;height:30px;background-color:#ccc;-webkit-border-radius:60px;-moz-border-radius:60px;-ms-border-radius:60px;-o-border-radius:60px;border-radius:60px;-webkit-transition:background 0.4s;-moz-transition:background 0.4s;-o-transition:background 0.4s;transition:background 0.4s;}
.switch-outer input.cmn-toggle-round-flat + label:before,input.cmn-toggle-round-flat + label:after{display:block;position:absolute;content:"";}
.switch-outer input.cmn-toggle-round-flat + label:before{top:2px;left:2px;bottom:2px;right:2px;background-color:#fff;-webkit-border-radius:60px;-moz-border-radius:60px;-ms-border-radius:60px;-o-border-radius:60px;border-radius:60px;-webkit-transition:background 0.4s;-moz-transition:background 0.4s;-o-transition:background 0.4s;transition:background 0.4s;}
.switch-outer input.cmn-toggle-round-flat + label:after{top:4px;left:4px;bottom:4px;width:23px;background-color:inherit;-webkit-border-radius:52px;-moz-border-radius:52px;-ms-border-radius:52px;-o-border-radius:52px;border-radius:52px;-webkit-transition:margin 0.4s,background 0.4s;-moz-transition:margin 0.4s,background 0.4s;-o-transition:margin 0.4s,background 0.4s;transition:margin 0.4s,background 0.4s;}
.switch-outer input.cmn-toggle-round-flat:checked + label{background-color:#f7da64;}
.switch-outer input.cmn-toggle-round-flat:checked + label:after{margin-left:30px;background-color:inherit;}

/*input*/
.input-icon{color:initial;position:relative;top:-60px;font-size:16px;background:none;border:none;text-align:right;padding:6px 10px 6px 20px;}
.input-group-addon.input-icon{color:#f7da64;}

/*File Upload  Control*/
.file-field{position:relative;}
.input-field{position:relative;max-height:54px;float:left;width:100%;font-family:montserratlight}
.file-field input[type=file]{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;margin:0;padding:0;font-size:20px;cursor:pointer;opacity:0;filter:alpha(opacity=0);z-index:9;}
.file-field .input-icon{left:1px;    /* top: 8px; */color:#f7da64;font-size:24px;text-align:left;}
.file-field input[type=text]{padding-left:55px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* Range slider  Control*/
.slider-selection{background:none;background-color:#f7da64;box-shadow:none;}
.slider-track-low,.slider-track-high{background:#ccc;}
.slider-handle{background-color:#fff;background-image:none;box-shadow:none;border:4px solid #f7da64;width:18px;height:18px;}
.tooltip-inner{padding:3px 10px;font-size:16px;background-color:#f7da64;border-radius:0px;}
.tooltip.top .tooltip-arrow{border-top-color:#f7da64;}
.slider .tooltip.top{margin-top:-63px;}
.slider.slider-horizontal{width:100%;}
.slider.slider-horizontal .slider-track{height:6px;}
.slider.slider-horizontal .slider-selection,.slider.slider-horizontal .slider-track-low,.slider.slider-horizontal .slider-track-high{top:1px;}
.slider-track .slider-tick{background:#ccc;opacity:1;}
.slider-tick.in-selection,.slider-tick{background-image:none;background:#f7da64;width:18px;height:18px;}
.slider-selection.tick-slider-selection{background-image:none;background-color:#f7da64;}
.range{font-size:18px;position:relative;top:41px;right:-1px;}
.range-max{top:-6px;float:right;}
.slider.slider-horizontal .slider-track{height:4px;}
.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle{margin-top:-4px;}
.slider-handle{width:12px;height:12px;background:#ffffff;border:2px solid #f7da64;}
.slider-track{background:#cccccc;}
.tooltip-inner{background:#f7da64!important;}
.tooltip.top .tooltip-arrow{border-top-color:#f7da64}
.slider-track-low,.slider-track-high{}
.slider-selection.tick-slider-selection{background:#f7da64;}
.slider-tick.in-selection{width:12px;height:12px;background:#f7da64;}
.slider-tick{width:12px;height:12px;background:#cccccc;}
.cir{margin-left:-10px;margin-top:2px;}
.range-slider{text-align:center;}
.slider.slider-horizontal{width:98%;padding:30px 0;padding-bottom:0px;}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{font-family:montserratlight;font-size:16px;color:#f7da64;width:100%;}
.slider.slider-horizontal .slider-tick-label-container{white-space:nowrap;margin-top:3px!important;}
.tooltip.top .tooltip-arrow{margin-left:-8px!important;}

/*new rangeslider Control*/
.range-slider{margin-top:30px;}
.range-slider .well1{position:relative!important;border-color:#f7da64;}
.range-slider .tip{background:#f7da64;border-color:#f7da64;max-width:50px;color:#fff;position:absolute;top:-30px;padding:5px 10px;}
.range-slider .tip:after{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(0,174,165,0);border-top-color:inherit;border-width:8px;margin-left:-8px;color:#fff;}

/*selectbox style Control*/
.selectize-input{border:1px solid #d9dad3;padding:15px 15px 15px 15px;width:100%;display:inline-block;width:100%;overflow:hidden;position:relative;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:0px;font-family:montserratlight;font-size:14px;  min-height: 51px !important;}
.selectize-input .item{font-family:montserratlight;font-size:16px;}
.selectize-dropdown .active{background-color:#f7da64;color:#28324e; top:50px !important;}
.selectize-dropdown [data-selectable],.selectize-dropdown .optgroup-header{padding:15px;font-family:montserratlight;font-size:14px;}
.selectize-dropdown [data-selectable]{cursor:pointer;overflow:hidden;}
.selectize-control.single .selectize-input,.selectize-dropdown.single{border-color:#d9dad3; background: #f1f3f3 !important;}
.selectize-control.single .selectize-input{ background: #ffffff !important; z-index: 0;}
.control-group{position:relative;}
.select-icon{position:absolute;z-index:9;font-size:24px;left:16px;color:#f7da64;bottom:18px}
.selectize-dropdown-content{ max-height: auto!important; }


/*Components end */

/*Date picker color set */

.datepicker table tr td.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover{background-color:#006dcc!important;background-image:-moz-linear-gradient(to bottom,#f7da64,#03a29a);background-image:-ms-linear-gradient(to bottom,#f7da64,#03a29a);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f7da64),to(#03a29a));background-image:-webkit-linear-gradient(to bottom,#f7da64,#03a29a);background-image:-o-linear-gradient(to bottom,#f7da64,#03a29a);}
.section-head .help-outer{width:40px;position:relative;display:inline-block;top:4px;padding-left:5px;}
.section-head .help-text{display:none !important;width:250px;background:#eee;border:1px solid #ccc;padding:8px;left:-50px;font-size:12px;position:absolute;color:#999;line-height:18px;font-family:montserratlight;-webkit-box-shadow:3px 3px 10px 0px rgba(224,221,224,1);-moz-box-shadow:3px 3px 10px 0px rgba(224,221,224,1);box-shadow:3px 3px 10px 0px rgba(224,221,224,1);}
.section-head i:hover + .help-text{display:block!important;z-index:99;}

/*New Radio Style   Control*/
.radio-outer{border:1px solid #d9dad3;border-bottom: 0;width:100%;float:left;  -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;
    box-sizing: border-box; margin-bottom: 2px; margin-top: -3px; margin-left: -1px; padding: 1px;}
.radio-outer:last-child{border:1px solid #d9dad3 !important;  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
.radio-outer:hover{background:#f1f3f3;}
.lable-style{padding:20px 30px;margin-left:22px;}
.control{display:block;position:relative;padding-left:30px;cursor:pointer;font-size:16px;font-weight:500;}
.control input{position:absolute;z-index:-1;opacity:0; width: auto;}
.control__indicator{position:absolute;top:19px;left:0;height:20px;width:20px;border:3px solid #f7da64;}
.control--radio .control__indicator{border-radius:50%;}
.control input:checked ~ .control__indicator{background:#f7da64;}
.control__indicator:after{content:'';position:absolute;display:none;}
.control input:checked ~ .control__indicator:after{display:block;}
.control--radio .control__indicator:after{left:0px;top:0px;height:14px;width:14px;border-radius:50%;background:#f7da64;border:3px solid #fff;}
.control--radio .control__indicator.icon-set{border:none!important;top:20px;left:-5px;color:#f7da64;}
.control--radio .control__indicator.icon-set:after{left:0px;top:0px;height:14px;width:14px;border-radius:50%;background:none;border:none;}
.control input:checked ~ .control__indicator.icon-set{background:none;}





/*New Checkbox Style  Control*/
.checkbox-outer-base{border:1px solid #d9dad3;border-bottom:0px;width:100%;float:left;padding: 1px;}
.checkbox-outer-base:last-child{border:1px solid #d9dad3;}
.checkbox-outer-base:hover{background:#f1f3f3;}
.checkbox-outer-base.active{background:#f1f3f3;}
.checkbox-outer{border:1px solid #d9dad3;border-bottom:0;width:100%;float:left;}
.checkbox-outer:last-child{border:1px solid #d9dad3;}
.checkbox-outer-base:last-child.active {border: 1px solid #d9dad3 !important;}
.checkbox-outer-base:last-child:hover{background:#f1f3f3;}
.checkbox-outer:hover{background:#f1f3f3;}
.checkbox-outer.active,.radio-outer.active{background:#f1f3f3;}
.control__indicator.check-set{left:16px!important;border:2px solid #f7da64;}
.control--checkbox{padding:20px 55px;}
.control--checkbox .control__indicator:after{left:6px;top:1px;width:5px;height:11px;border:solid #fff;border-width:0 2px 2px 0;transform:rotate(45deg);}
.check-comp .checkbox-outer .control__indicator.check-set{border:none;left:12px;color:#f7da64;}
.check-comp .checkbox-outer .control input:checked ~ .control__indicator{background:none;color:#f7da64;}
.check-comp .checkbox-outer .control--checkbox .control__indicator:after{border:none;}
.check-comp .checkbox-outer .control--checkbox{padding:20px 50px;}



.checkbox-outer-base.green .check-comp .checkbox-outer .control input:checked ~ .control__indicator{background:none;color:#000000;}


/* New CSS */
.w100{width:100%!important;float:left;}
.select{position:relative;display:inline-block;margin-bottom:15px;width:100%;}
.select select{display:inline-block;width:100%;cursor:pointer;padding:15px;outline:0;border-radius:0;appearance:none;-webkit-appearance:none;-moz-appearance:none;border:1px solid #d9dad3;font-family:montserratlight;font-size:16px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
[disabled]{color:#bdbdbd;}
[selected]{color:#232f3f;}
option{color:#232f3f;}
option.op{color:red;}
.select select::-ms-expand{display:none;}
.select select:hover,.select select:focus{background:#fff;}
.select__arrow{position:absolute;top:24px;right:15px;width:0;height:0;pointer-events:none;border-style:solid;border-width:8px 5px 0 5px;border-color:#7b7b7b transparent transparent transparent;}
/*.template-section .select__arrow{display: none;}*/
.template-section .selectize-control.single .selectize-input:after{display: none;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0;}

/*New circle outer*/
.circle-outer{float:left;width:100%;padding:10px;text-align:center;}
.circle-outer .icon-outer{color:#f7da64;}
.circle-outer .icon-outer i{font-size:40px;}
.circle-outer .num-circle-outer{-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;background:#f7da64;padding:10px 17px;color:#fff;font-size:14px;font-family:montserratregular;}

/*Common Style for All Themes  */

/*Result Section Style */

.full-width{width:100%;position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.mid-width{width:50%;float:left;}
.small-width{width:33%;position:relative;float:left;min-height:1px;padding-right:15px;padding-left:15px;}
.left-section{float:left;width:100%; }
.top-head{position:relative;z-index:1;float:left;width:100%;background:#f7da64 !important;min-height:50px;padding:10px 35px; opacity: 0.8; text-align: center;}
.top-head h4{color:#6f7072;font-size:24px;text-transform:uppercase;}
.top-head h4 span{color:#f7da64;font-size:24px;}
.top-head p{margin-bottom:0px;margin-top:6px;}
.share-link{float:left;text-align:right;width:100%; color:#000;}
.share-link ul{padding:0;float:right; margin:0;}
.share-link ul li{float:left;display:inline-block;}
.share-link ul li span{padding:0px 10px;color:#f7da64;font-size:18px;font-weight:bold;}
.share-link ul li a{float:left;display:inline-block;text-decoration:none;color:#000;font-size:18px;padding:5px; opacity:0.4;}
.share-link ul li a .material-icons{font-size:18px!important;margin-top:3px;}
.share-link span i{font-size:16px;margin-left:6px;color:#6e6f71;}
.share-link span li{border-left:1px dotted #6e6f71;height:18px;margin-top:8px;margin-left:5px;margin-right:5px;}
.result-small-section{float:left;padding:0px 30px 30px 30px;min-height:90px;width:33.3%;}
.result-small-section h4{color:#f7da64;text-align:center;font-size:24px;color:#999;}
.result-small-section h6{color:#f7da64;text-align:center;font-size:14px;margin:0;line-height:22px;}
.result-half-section{float:left;padding:0px 30px 30px 30px;min-height:170px;width:50%;}
.result-half-section h4{color:#f7da64;text-align:center;font-size:24px;color:#999;}
.result-half-section h6{color:#f7da64;text-align:center;font-size:14px;margin:0;line-height:22px;}
.share-link{float:left;}


.redo-link ul{ padding: 0; margin: 0; position: absolute; right: 5%; top: 8%;}
.redo-link ul li{float: left; display:inline-block; -webkit-border-radius: 28px;-moz-border-radius: 28px;border-radius: 28px;  padding: 3px 8px;  }
.redo-link ul li:nth-child(1){display:none;}
.redo-link ul li span{padding:2px 10px 0 10px; float: left; font-size: 20px; }
.redo-link ul li a{float:left;display:inline-block;text-decoration:none;color:#fff;font-size:18px; }
.redo-link ul li a .material-icons{font-size:16px!important;margin-top:4px;}
.redo-link span i{font-size:16px;margin-left:6px;color:#6e6f71;}
.redo-link span li{border-left:1px dotted #6e6f71;height:18px;margin-top:8px;margin-left:5px;margin-right:5px;}

.result-full-section{float:left;padding:30px;min-height:160px;z-index:1;width: 100%;}
.result-full-section h4{color:#f7da64;text-align:center;font-size:30px;}
.result-full-section h6{color:#f7da64;text-align:center;font-size:14px;margin:0;line-height:22px;}
.grey-color{color:#9a9a9a!important;}
.small-top-sec p{text-align:center;margin:0;}
.right-section{border-left:1px solid #dfdfdf;width:30%;display:table;height:80vh;padding-right: 20px;box-shadow:inset 2px 0px 9px -6px; background-color:rgba(0, 0, 0, 0.05); display:none;}
.right-section .internal-sec h3{color:#f7da64;float:left;}
.right-section .internal-sec h3 i{font-size:30px;float:left;}
.right-section .internal-sec h3 span{margin-top:3px;float:left;padding-left:10px;font-size:24px;color:#f7da64;}
.right-section .internal-sec h3 span i{float:left;font-size:13px;color:#999999;margin-top:10px;}
.right-section h4{color:#6e7071;font-size:13px;float:left;line-height:20px;width:100%;margin-top:8px;margin-bottom:3px; font-family:montserratlight; word-break: break-word; }
.right-section h5{font-size:13px;float:left;line-height:20px;color:#6e7071;margin-top:0;}
.cta-outer{float:left;width:100%;padding:13px 2%;text-align:center;}
.cta-outer .container{width:100%;padding:10px 40px;}
.cta-outer .container .input-section{width:100%;padding:20px 50px;margin:0;background:#f5f5f5;float:left;}
.cta-outer .container .input-section input{width:98%!important;margin:6px!important;border:2px solid #cccccc!important;color:#b9b9b9;font-size:14px!important;background:#ffffff;float:left;cursor:auto;}
.bottom-section{text-align:left;color:#333333;font-size:13px;padding:0 0 0px 0;float:left;width:70%; opacity:0.5; }
.result-cta-outer .container{width:100%;background:#fff;float:left;}
.result-cta-outer .container .prime-action{background-color:#f9f9f9;color:#00afa5;padding:6px 40px;border:2px solid #00afa5;text-decoration:none!important;transition:background-color 0.5s ease;}
.result-cta-outer .container .prime-action:hover{background-color:#00afa5;color:#fff;}
.cta-outer .input-section .input-outer{float:left;width:49%; padding:10px 15px;/*background-color:rgba(0, 0, 0, 0.05);*/position: relative;}
.cta-outer .input-section .input-outer:nth-last-child(1):nth-child(odd) {float:left;width:100%;position: relative; }

.cta-outer .input-section .input-outer input{ margin-bottom:5px; float:left;width:100%;border:2px solid #c4c4c6!important;color:#232f3f;font-size:14px!important;background:#fff}
.cta-outer .input-section .input-outer input:nth-last-child(1):nth-child(odd){width:97.5%;}
.cta-outer .input-section .input-outer span{    float: left;
    width: 100%;
    text-align: left;
    padding-left: 9px;
    color: #f44336;
    font-size: 12px;
    bottom: -1px;
    /* background: #f2f2f2; */
    position: absolute;
    z-index: 1;
    left: 10px;}
.page_2{ box-shadow: 0 2px 9px 2px rgba(0,0,0,0.4); position: relative; float: none; display: table-cell;  height:100vh; width: 100vw !important; background-position: fixed; background-size: cover !important}

.top-head .mid-width:nth-child(1){width:100%;float:left; font-family:montserratlight !important; text-align: center;}
.top-head .mid-width:nth-child(2){width:30%;float:left; font-family:montserratlight !important;  text-align: left;}
.result-small-section p:nth-child(1){ font-family:montserratlight !important; font-size:28px; line-height: 1.5em;}
.result-small-section p:nth-child(2){font-size:2.2vmin; text-transform: uppercase; opacity: 0.8;}
.result-small-section p:nth-child(3){ font-family:montserratlight !important;font-size:2.4vmin; opacity: 0.8;}
.result-small-section p:nth-child(n+4){ font-family:montserratlight !important;font-size:2.4vmin; opacity: 0.8;}


.result-centre-outer{margin:3%; padding:0 4%; padding-bottom: 2%; float: left; width:94%; display:inline-block; box-shadow:3px 3px 50px 5px rgba(0,0,0,0.6);  margin-bottom: 0px !important;}
.result-centre-outer .mid-width{ width:100%; text-align: center;  font-family: montserratlight; margin-top: 1%; margin-bottom: 1%; min-height: 52px;}
.result-mid .result-full-section:only-child {
    float: none;
}
.result-centre-outer .result-small-section{ background: #fff; }
.result-centre-outer .mid-width p{ font-family: montserratlight;  font-size:3.6vmin; line-height: 1.5em; padding-top:5px; margin:0; }
.leadform-outer{background: #fff; float: left; width:100%;padding-bottom:2%; margin-bottom:5px; text-align: center;  }

.result-mid{ width: 100%;display: table;text-align: center; background: #fff;}
.result-full-section{width:100%;display:table-cell;vertical-align:middle;text-align:center; }
.share-set{ float: right; width:30%; min-height: 52px;}
.result-comm{  float: left; width:100%; }


/*Result Section Style end*/
input[type=range]{-webkit-appearance:none;border:1px solid white;width:100%;}
input[type=range]::-webkit-slider-runnable-track{width:100%;height:5px;background:#ddd;border:none;border-radius:3px;}
input[type=range]::-webkit-slider-thumb{-webkit-appearance:none;border:none;height:16px;width:16px;border-radius:50%;margin-top:-4px;}
.abc{display:none;background:#666;width:20px;height:20px;}
input[type=range]::-webkit-slider-thumb:hover{background:#ccc;}
input[type=range]:focus{outline:none;}
input[type=range]:focus::-webkit-slider-runnable-track{background:#ccc;}
input[type=range]::-moz-range-track{width:100%;height:5px;background:#ddd;border:none;border-radius:3px;}
input[type=range]::-moz-range-thumb{border:none;height:16px;width:16px;border-radius:50%;}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{outline:1px solid white;outline-offset:-1px;}
input[type=range]::-ms-track{width:100%;height:5px;background:transparent;border-color:transparent;border-width:6px 0;color:transparent;}
input[type=range]::-ms-fill-lower{background:#777;border-radius:10px;}
input[type=range]::-ms-fill-upper{background:#ddd;border-radius:10px;}
input[type=range]::-ms-thumb{border:none;height:16px;width:16px;border-radius:50%;}
input[type=range]:focus::-ms-fill-lower{background:#888;}
input[type=range]:focus::-ms-fill-upper{background:#ccc;}
.range-slider .slider-min{width:2%;float:left;padding-top:8px;}
.range-slider .well1{width:100%;float:left;}
.range-slider .slider-max{width:2%;float:right;padding-top:8px;}
.tip{position:absolute;border:1px solid black;padding:4px;}
.requiredAsteric{color:#fa555c;margin:0!important; padding-right:2px !important;}

select{color:black;}
.choice option{color:black;}
.select-empty{color:gray!important;}


.range-slider .irs-slider {top: 29px;width: 20px; height: 20px;}
.range-slider .irs-bar-edge {border-right: 0;}
.range-slider .irs-single { font-family: montserratlight; border-radius:8px !important; padding: 1px 14px  !important;}
.range-slider .irs-min, .irs-max{font-family: montserratregular; }

.question-section-outer .question-section .container-temp { width:100%;}
.question-section-outer .question-section .container-temp .prime-action {margin-bottom: 0; margin-top: 15px;}
.landing-responsive{ width:100%; float: left;}

.right-section .internal-sec.slimscroll{ height:92vh !important;  padding-bottom:20px;}
.right-section .slimScrollDiv{height:92vh !important; padding-bottom:20px;}




/*Questions Header css  */
.questions-header header {background: #161a29;float: left;width: 100%;padding: 0;}
.questions-header header .p-right0 {padding-right: 0;}
.questions-header header .logo { float: left; padding:6px 15px;}
.questions-header header .right-sec {float: left;min-height: 70px;padding: 13px 10px 10px 2%; position: absolute;right:0;}
.questions-header header .right-sec i {font-size: 20px; color: #012435;position: absolute;left: -76px; z-index: 9;}
.questions-header header .right-sec p {float: left;font-size: 11px;color: #012435; padding-left: 26px;font-family: montserratregular;margin-bottom: 5px;margin-top: 0;}
.questions-header header .right-sec span {float: left;font-size: 20px;color: #012435;font-family: montserratregular;padding-left: 5px; width:100%;}
.que-fixed {position: fixed; top: 0; width: 100%; z-index: 99;}
/*Questions Header css  end*/
.section-set{height: 100vh; padding-top:2%;}
.margin-none{ margin: 0 !important;}

.disc-set{  float: left; width:100%; text-align: left; padding: 8px;}

/* new changes sahil */
/*.page_0.w100{ background: #d9dede;}
.page_1.w100{background: #d9dede; }*/
.editor-page-divider{box-shadow: 0 2px 9px 2px rgba(0,0,0,0.4); background: #d9dede;  margin-bottom: 35px;}
.left-section .btn.prime-action.next-step.sliding-next{ margin: 10% 0}
.top-fix-bar{ background: #012435; min-height: 70px;}

#drawerIframe .landing-page-mid { height: 100vh; }
#drawerIframe .main-bg{ height: 100vh;}
.lead-heading-temp1{
    /*background: rgba(0, 0, 0, 0.05);*/
    padding: 20px 30px;
    text-align: left;
    width: 98%;
    padding-bottom: 0; font-size: 18px; text-align: center;
}

/*recommendation css*/
.recom-section{ background: #fff;  float: left; width:100%;}
.recom-section .left-sec{ display: table; width: 100%; }
.recom-section .left-outer{display: table-cell; vertical-align: middle; text-align: center; padding:8%;}
.rec-image-outer{margin: 0 auto; max-width: 350px; max-height: 420px; overflow: hidden; text-align: center; box-shadow: 8px 9px 7px 2px #d1d1d1; min-width: 200px; display: inline-block; }
.rec-image-outer img{width: 100%; }
.recom-section .lead-heading-temp1{ background: none; text-align: left; padding-left:0;  color:#666e78; font-size: 16px; padding-top:0;}
.recom-section .cta-outer .input-section .input-outer {float: left; width: 100%; padding: 10px 0px; background:none; position: relative;}
.recom-section .container-temp{ text-align: left !important; width:100%;}
.recom-section .outer-main {display: table; width: 100%;}
.recom-section .leadform-outer .prime-action { min-width:70%; float: left;}
.recom-section .leadform-outer .container-temp .prime-action { width:98%; margin-top: 15px;}
.recom-section .leadform-outer {padding: 0% 12% 0% 3%; float: none; background: none; margin-bottom:0; display: table-cell; vertical-align: middle;}
.recom-section .leadform-outer h1{ display: inline-block;  width:100%; word-break: break-word;}
.recom-section .leadform-outer h4{ display: inline-block;  width:100%; text-transform: uppercase; margin-bottom: 0px; font-family:montserratregular;  font-size: 16px; }
.recom-section .leadform-outer h5{ display: inline-block;  width:100%;  margin-bottom: 8px; color:#666e78; font-family:montserratlight; font-size: 14px; line-height: 24px;}
.recom-section .w100 .leadform-outer { padding:6%;}
.recom-section .w100 .leadform-outer h1 { text-align: center; padding:0;}
.recom-section .w100 .leadform-outer h5 {text-align: center;padding:0;}
.recom-section .w100 .lead-heading-temp1{ padding: 20px 30px; text-align: left; width: 98%; padding-bottom: 0; font-size: 16px; text-align: center;}
.recom-section .w100 .cta-outer .input-section .input-outer {float: left; width: 49%; padding: 15px 30px; position: relative;}
.recom-section .w100 .leadform-outer .container-temp .prime-action {font-family: montserratregular;font-size: 18px;color: #28324e; margin-top: 30px; margin-bottom: 40px;padding: 10px 60px; border-radius: 0!important;white-space: normal;}
.recom-section .w100 .container-temp{ text-align: center !important;}
.recom-section .w100 .leadform-outer .container-temp .prime-action{ width:auto; float: none !important;}
.recom-section .w100 .leadform-outer .prime-action{ width:auto; float: none !important;}
.result-centre-outer .recom-section .w100  .cta-outer .input-section .input-outer span{    float: left; width: 100%;text-align: left;padding-left: 20px;color: #f44336;font-size: 12px;bottom: -1px !important;position: absolute;z-index: 1; left: 10px !important;}
.result-centre-outer .recom-section .cta-outer .input-section .input-outer span{    float: left; width: 100%;text-align: left;padding-left: 20px;color: #f44336;font-size: 12px;bottom: -4px !important;position: absolute;z-index: 1; left: -17px !important;}
.result-centre-outer .recom-section .cta-outer .input-section .input-outer:nth-last-child(1):nth-child(odd) {float:left;width:100%;position: relative; }
/*recommendation css end*/
.selectize-dropdown, .selectize-input, .selectize-input input { color: #666e78;}
.container-temp .question-section input{color:#666e78}
.result-centre-outer.recommendation-outer .mid-width {margin-top: 0;  margin-bottom: 0;   min-height: 55px;}
.result-centre-outer.recommendation-outer .mid-width p{ padding-top:8px;}



.questions .section-head .requiredAsteric{ display: inline-flex !important;}
.question-section.leaded-form-c .section-head .requiredAsteric{ float: left !important;}
.input-icon-outer{ float: left; width:100%; position: relative;}
.question-section.leaded-form-c .section-head .input-icon-outer input { padding-left:40px !important;} 
.input-icon-outer i{position: absolute;top: 18px;font-size: 20px;left: 12px;}
.result-centre-outer .leadform-outer .input-section .input-outer{position: relative;}
.result-centre-outer .leadform-outer .input-section .input-outer input{ padding-left: 40px;}
.result-centre-outer .leadform-outer .input-section .input-outer i{position: absolute;left: 28px;font-size: 20px; top: 28px;}
.question-section.leaded-form-c .input-icon-outer input { padding-left:40px !important;}
.input-outer i{ color: #666 !important;}


/* social links */
a:hover,a:focus{
    text-decoration: none;
}
.btn-fb {
    color: #fff;
    display: inline-block;
    background: #4267b2;
    /*border: 1px solid #4267b2;*/
    cursor: pointer;
    transition: all .3s ease 0s!important;
    font-size: 12px;
    margin: 20px 0;
    margin-right: 7px;
}

.btn-fb:hover,
.btn-fb:focus {
    background: #365899;
    /*border: 1px solid #365899;*/
    color: #fff;
}

.btn-twitter {
    color: #fff;
    display: inline-block;
    background: #00CDFF;
    /*border: 1px solid #00CDFF;*/
    cursor: pointer;
    transition: all .3s ease 0s!important;
    font-size: 12px;
    margin: 20px 0;
    margin-right: 7px;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #02bfed;
    /*border: 1px solid #02bfed;*/
    color: #fff;
}

.btn-in {
    color: #fff;
    display: inline-block;
    background: #007BB6;
    /*border: 1px solid #007BB6;*/
    cursor: pointer;
    transition: all .3s ease 0s!important;
    font-size: 12px;
    margin: 20px 0;
    margin-right: 10px;
}

.btn-in:hover,
.btn-in:focus {
    background: #04699a;
    /*border: 1px solid #04699a;*/
    color: #fff;
}
.btn-in i{
    vertical-align: 0%;
}
@-moz-document url-prefix() {
   .twitter-follow-button {
       width: 220px !important;
       height: 28px !important;
       visibility : visible !important;
       position: relative !important;
   }
.template-section .twitter-follow-button {
       width: auto !important;
       height: 28px !important;
       visibility : visible !important;
       position: relative !important;
   }
}

.fb-like {
    margin: 20px 0;
    margin-right:10px;
    cursor: pointer;
    float: left;

}
.leadform-outer .fb-like {
    margin: 40px 0;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    vertical-align: top;
        float: none;
    /*width: 100%;
    display: block;*/
}
.leadform-outer .twitter-follow-button {
    margin: 10px 0;
    cursor: pointer;
    float: none;
    display: inline-block;
}

.btn-fb-like {
    margin: 20px 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.recom-section .btn-fb-like,
.recom-section .twitter-follow-button {
    margin: 20px 0;
    margin-top: 10px;
    margin-right: 10px;
    visibility:visible !important;
    height:auto !important;
}


.recom-section .btn-fb,
.recom-section .btn-twitter,
.recom-section .btn-in {
    margin: 20px 0;
    margin-right: 10px;
}
.recom-section .btn-fb{
    margin-top: 10px;
}
.recom-section .btn-in{
    margin-top: 0px;
}

.share-heading {
    color: #666e78;
    font-size: 20px;
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    clear: both;
    text-transform: uppercase;
}
.redirect-heading {
    color: #666e78;
    font-size: 20px;
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
    clear: both;
    text-transform: uppercase;
}
cta_likes{
    text-align: center;
}
span.abhi {
    display: none;
}