
@font-face {
    font-family: 'afarat_ibn_bladyregular';
    src: url('fonts/afaratibnblady-webfont.woff2') format('woff2'),
         url('fonts/afaratibnblady-webfont.woff') format('woff'),
         url('fonts/afaratibnblady-webfont.ttf') format('truetype'),
         url('fonts/afaratibnblady-webfont.svg#afarat_ibn_bladyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afarat_ibn_bladyregular-Light';
    src: url('fonts/afaratibnblady-webfont.woff2') format('woff2'),
         url('fonts/afaratibnblady-webfont.woff') format('woff'),
         url('fonts/afaratibnblady-webfont.ttf') format('truetype'),
         url('fonts/afaratibnblady-webfont.svg#afarat_ibn_bladyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'afarat_ibn_bladyregular-Bold';
    src: url('fonts/afaratibnblady-webfont.woff2') format('woff2'),
         url('fonts/afaratibnblady-webfont.woff') format('woff'),
         url('fonts/afaratibnblady-webfont.ttf') format('truetype'),
         url('fonts/afaratibnblady-webfont.svg#afarat_ibn_bladyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

