@font-face {
    font-family: 'AkkuratPro';
    src: url('fonts/AkkuratPro-Regular.eot'),
         url('fonts/AkkuratPro-Regular.woff2') format('woff2'),
         url('fonts/AkkuratPro-Regular.woff') format('woff'),
         url('fonts/AkkuratPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AkkuratPro-Light';
    src: url('fonts/AkkuratPro-Regular.eot'),
         url('fonts/AkkuratPro-Regular.woff2') format('woff2'),
         url('fonts/AkkuratPro-Regular.woff') format('woff'),
         url('fonts/AkkuratPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AkkuratPro-Bold';
    src: url('fonts/AkkuratPro-Bold.eot'),
         url('fonts/AkkuratPro-Bold.woff2') format('woff2'),
         url('fonts/AkkuratPro-Bold.woff') format('woff'),
         url('fonts/AkkuratPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



