@font-face {
    font-family: 'aktivgrotesk';
    src: url('fonts/aktivgrotesk-webfont.eot'),
         url('fonts/aktivgrotesk-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-webfont.woff') format('woff'),
         url('fonts/aktivgrotesk-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-Light';
    src: url('fonts/aktivgrotesk-light-webfont.eot'),
         url('fonts/aktivgrotesk-light-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-light-webfont.woff') format('woff'),
         url('fonts/aktivgrotesk-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktivgrotesk-Bold';
    src: url('fonts/aktivgrotesk-bold-webfont.eot'),
         url('fonts/aktivgrotesk-bold-webfont.woff2') format('woff2'),
         url('fonts/aktivgrotesk-bold-webfont.woff') format('woff'),
         url('fonts/aktivgrotesk-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}