@font-face {
    font-family: 'aldapro';
    src: url('fonts/aldapro-regular-webfont.eot'),
         url('fonts/aldapro-regular-webfont.woff2') format('woff2'),
         url('fonts/aldapro-regular-webfont.woff') format('woff'),
         url('fonts/aldapro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aldapro-Light';
    src: url('fonts/aldapro-regular-webfont.eot'),
         url('fonts/aldapro-regular-webfont.woff2') format('woff2'),
         url('fonts/aldapro-regular-webfont.woff') format('woff'),
         url('fonts/aldapro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aldapro-Bold';
    src: url('fonts/aldapro-bold-webfont.eot'),
         url('fonts/aldapro-bold-webfont.woff2') format('woff2'),
         url('fonts/aldapro-bold-webfont.woff') format('woff'),
         url('fonts/aldapro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}