@font-face {
    font-family: 'apexrounded';
    src: url('fonts/apexrounded-book-webfont.eot'),
         url('fonts/apexrounded-book-webfont.woff2') format('woff2'),
         url('fonts/apexrounded-book-webfont.woff') format('woff'),
         url('fonts/apexrounded-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apexrounded-Light';
    src: url('fonts/apexrounded-book-webfont.eot'),
         url('fonts/apexrounded-book-webfont.woff2') format('woff2'),
         url('fonts/apexrounded-book-webfont.woff') format('woff'),
         url('fonts/apexrounded-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apexrounded-Bold';
    src: url('fonts/apexrounded-book-webfont.eot'),
         url('fonts/apexrounded-book-webfont.woff2') format('woff2'),
         url('fonts/apexrounded-book-webfont.woff') format('woff'),
         url('fonts/apexrounded-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}