@font-face {
    font-family: 'assistant';
    src: url('fonts/assistant-regular-webfont.eot'),
         url('fonts/assistant-regular-webfont.woff2') format('woff2'),
         url('fonts/assistant-regular-webfont.woff') format('woff'),
         url('fonts/assistant-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistant-Light';
    src: url('fonts/assistant-light-webfont.eot'),
         url('fonts/assistant-light-webfont.woff2') format('woff2'),
         url('fonts/assistant-light-webfont.woff') format('woff'),
         url('fonts/assistant-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistant-Bold';
    src: url('fonts/assistant-bold-webfont.eot'),
         url('fonts/assistant-bold-webfont.woff2') format('woff2'),
         url('fonts/assistant-bold-webfont.woff') format('woff'),
         url('fonts/assistant-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



