@font-face {
    font-family: 'ruiabreu_azosans';
    src: url('fonts/ruiabreu_azosans-regular-webfont.eot'),
         url('fonts/ruiabreu_azosans-regular-webfont.woff2') format('woff2'),
         url('fonts/ruiabreu_azosans-regular-webfont.woff') format('woff'),
         url('fonts/ruiabreu_azosans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ruiabreu_azosans-Light';
    src: url('fonts/ruiabreu_azosans-light-webfont.eot'),
         url('fonts/ruiabreu_azosans-light-webfont.woff2') format('woff2'),
         url('fonts/ruiabreu_azosans-light-webfont.woff') format('woff'),
         url('fonts/ruiabreu_azosans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ruiabreu_azosans-Bold';
    src: url('fonts/ruiabreu_azosans-bold-webfont.eot'),
         url('fonts/ruiabreu_azosans-bold-webfont.woff2') format('woff2'),
         url('fonts/ruiabreu_azosans-bold-webfont.woff') format('woff'),
         url('fonts/ruiabreu_azosans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



