@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville-regular-webfont.eot'),
         url('fonts/Baskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/Baskerville-regular-webfont.woff') format('woff'),
         url('fonts/Baskerville-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* 
@font-face {
    font-family: 'Baskerville-Light';
    src: url('fonts/Baskerville-light-webfont.eot'),
         url('fonts/Baskerville-light-webfont.woff2') format('woff2'),
         url('fonts/Baskerville-light-webfont.woff') format('woff'),
         url('fonts/Baskerville-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
    font-family: 'Baskerville-Bold';
    src: url('fonts/Baskerville-bold-webfont.eot'),
         url('fonts/Baskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/Baskerville-bold-webfont.woff') format('woff'),
         url('fonts/Baskerville-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



