@font-face {
    font-family: 'BrownPro';
    src: url('fonts/BrownPro-Regular.eot'),
         url('fonts/BrownPro-Regular.woff2') format('woff2'),
         url('fonts/BrownPro-Regular.woff') format('woff'),
         url('fonts/BrownPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrownPro-Light';
    src: url('fonts/BrownPro-Light.eot'),
         url('fonts/BrownPro-Light.woff2') format('woff2'),
         url('fonts/BrownPro-Light.woff') format('woff'),
         url('fonts/BrownPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BrownPro-Bold';
    src: url('fonts/BrownPro-Bold.eot'),
         url('fonts/BrownPro-Bold.woff2') format('woff2'),
         url('fonts/BrownPro-Bold.woff') format('woff'),
         url('fonts/BrownPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



