@font-face {
    font-family: 'CircularStd';
    src: url('fonts/CircularStd-Book.eot'),
         url('fonts/CircularStd-Book.woff2') format('woff2'),
         url('fonts/CircularStd-Book.woff') format('woff'),
         url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CircularStd-Light';
    src: url('fonts/CircularStd-Book.eot'),
         url('fonts/CircularStd-Book.woff2') format('woff2'),
         url('fonts/CircularStd-Book.woff') format('woff'),
         url('fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('fonts/CircularStd-Bold.eot'),
         url('fonts/CircularStd-Bold.woff2') format('woff2'),
         url('fonts/CircularStd-Bold.woff') format('woff'),
         url('fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



