@font-face {
    font-family: 'comfortaa';
    src: url('fonts/comfortaa-regular-webfont.eot'),
         url('fonts/comfortaa-regular-webfont.woff2') format('woff2'),
         url('fonts/comfortaa-regular-webfont.woff') format('woff'),
         url('fonts/comfortaa-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaa-Light';
    src: url('fonts/comfortaa-light-webfont.eot'),
         url('fonts/comfortaa-light-webfont.woff2') format('woff2'),
         url('fonts/comfortaa-light-webfont.woff') format('woff'),
         url('fonts/comfortaa-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comfortaa-Bold';
    src: url('fonts/comfortaa-bold-webfont.eot'),
         url('fonts/comfortaa-bold-webfont.woff2') format('woff2'),
         url('fonts/comfortaa-bold-webfont.woff') format('woff'),
         url('fonts/comfortaa-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



