
@font-face {
    font-family: 'effrapro';
    src: url('fonts/effrapro-regular-webfont.eot'),
         url('fonts/effrapro-regular-webfont.woff2') format('woff2'),
         url('fonts/effrapro-regular-webfont.woff') format('woff'),
         url('fonts/effrapro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'effrapro-Light';
    src: url('fonts/effrapro-regular-webfont.eot'),
         url('fonts/effrapro-regular-webfont.woff2') format('woff2'),
         url('fonts/effrapro-regular-webfont.woff') format('woff'),
         url('fonts/effrapro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'effrapro-Bold';
    src: url('fonts/effrapro-bold-webfont.eot'),
         url('fonts/effrapro-bold-webfont.woff2') format('woff2'),
         url('fonts/effrapro-bold-webfont.woff') format('woff'),
         url('fonts/effrapro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}