@font-face {
    font-family: 'firasans';
    src: url('fonts/firasans-regular-webfont.eot'),
         url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff'),
         url('fonts/firasans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'firasans-Light';
    src: url('fonts/firasans-light-webfont.eot'),
         url('fonts/firasans-light-webfont.woff2') format('woff2'),
         url('fonts/firasans-light-webfont.woff') format('woff'),
         url('fonts/firasans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'firasans-Bold';
    src: url('fonts/firasans-bold-webfont.eot'),
         url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff'),
         url('fonts/firasans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



