@font-face {
    font-family: 'genesiscaresans';
    src: url('fonts/genesiscaresans-regular-webfont.eot'),
         url('fonts/genesiscaresans-regular-webfont.woff2') format('woff2'),
         url('fonts/genesiscaresans-regular-webfont.woff') format('woff'),
         url('fonts/genesiscaresans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'genesiscaresans-Light';
    src: url('fonts/genesiscaresans-light-webfont.eot'),
         url('fonts/genesiscaresans-light-webfont.woff2') format('woff2'),
         url('fonts/genesiscaresans-light-webfont.woff') format('woff'),
         url('fonts/genesiscaresans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'genesiscaresans-Bold';
    src: url('fonts/genesiscaresans-bold-webfont.eot'),
         url('fonts/genesiscaresans-bold-webfont.woff2') format('woff2'),
         url('fonts/genesiscaresans-bold-webfont.woff') format('woff'),
         url('fonts/genesiscaresans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



