@font-face {
    font-family: 'Gilroy';
    src: url('fonts/gilroy-medium-webfont.eot');
    src: url('fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('fonts/gilroy-medium-webfont.woff') format('woff'),
         url('fonts/gilroy-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/gilroy-medium-webfont.eot');
    src: url('fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('fonts/gilroy-medium-webfont.woff') format('woff'),
         url('fonts/gilroy-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/gilroy-medium-webfont.eot');
    src: url('fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('fonts/gilroy-medium-webfont.woff') format('woff'),
         url('fonts/gilroy-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}