@font-face {
    font-family: 'glober';
    src: url('fonts/glober-regular-webfont.eot'),
         url('fonts/glober-regular-webfont.woff2') format('woff2'),
         url('fonts/glober-regular-webfont.woff') format('woff'),
         url('fonts/glober-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glober-Light';
    src: url('fonts/glober-light-webfont.eot'),
         url('fonts/glober-light-webfont.woff2') format('woff2'),
         url('fonts/glober-light-webfont.woff') format('woff'),
         url('fonts/glober-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'glober-Bold';
    src: url('fonts/glober-bold-webfont.eot'),
         url('fonts/glober-bold-webfont.woff2') format('woff2'),
         url('fonts/glober-bold-webfont.woff') format('woff'),
         url('fonts/glober-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



