@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Regular.eot'),
         url('fonts/Gotham-Regular.woff2') format('woff2'),
         url('fonts/Gotham-Regular.woff') format('woff'),
         url('fonts/Gotham-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/Gotham-Light.eot'),
         url('fonts/Gotham-Light.woff2') format('woff2'),
         url('fonts/Gotham-Light.woff') format('woff'),
         url('fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.eot'),
         url('fonts/Gotham-Bold.woff2') format('woff2'),
         url('fonts/Gotham-Bold.woff') format('woff'),
         url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
