@font-face {
    font-family: 'Grotesque';
    src: url('fonts/Grotesque-regular.eot'),
         url('fonts/Grotesque-regular.woff2') format('woff2'),
         url('fonts/Grotesque-regular.woff') format('woff'),
         url('fonts/Grotesque-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Grotesque-Light';
    src: url('fonts/Grotesque-regular.eot'),
         url('fonts/Grotesque-regular.woff2') format('woff2'),
         url('fonts/Grotesque-regular.woff') format('woff'),
         url('fonts/Grotesque-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Grotesque-Bold';
    src: url('fonts/Grotesque-bold.eot'),
         url('fonts/Grotesque-bold.woff2') format('woff2'),
         url('fonts/Grotesque-bold.woff') format('woff'),
         url('fonts/Grotesque-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



