@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.eot'),
         url('fonts/Helvetica.woff2') format('woff2'),
         url('fonts/Helvetica.woff') format('woff'),
         url('fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica-Light';
    src: url('fonts/Helvetica-Light.eot'),
         url('fonts/Helvetica-Light.woff2') format('woff2'),
         url('fonts/Helvetica-Light.woff') format('woff'),
         url('fonts/Helvetica-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('fonts/Helvetica-Bold.eot'),
         url('fonts/Helvetica-Bold.woff2') format('woff2'),
         url('fonts/Helvetica-Bold.woff') format('woff'),
         url('fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
