@font-face {
    font-family: 'ipam';
    src: url('fonts/ipam-webfont.eot'),
         url('fonts/ipam-webfont.woff2') format('woff2'),
         url('fonts/ipam-webfont.woff') format('woff'),
         url('fonts/ipam-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ipam-Light';
    src: url('fonts/ipam-webfont.eot'),
         url('fonts/ipam-webfont.woff2') format('woff2'),
         url('fonts/ipam-webfont.woff') format('woff'),
         url('fonts/ipam-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ipam-Bold';
    src: url('fonts/ipam-webfont.eot'),
         url('fonts/ipam-webfont.woff2') format('woff2'),
         url('fonts/ipam-webfont.woff') format('woff'),
         url('fonts/ipam-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}