

@font-face {
    font-family: 'jenna_sue';
    src: url('fonts/jennasue.woff2') format('woff2'),
         url('fonts/jennasue.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'jenna_sue-light';
    src: url('fonts/jennasue.woff2') format('woff2'),
         url('fonts/jennasue.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'jenna_sue-Bold';
    src: url('fonts/jennasue.woff2') format('woff2'),
         url('fonts/jennasue.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}