@font-face {
    font-family: 'Karla';
    src: url('fonts/karla-regular-webfont.eot');
    src: url('fonts/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karla-regular-webfont.woff') format('woff'),
         url('fonts/karla-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Karla-Bold';
    src: url('fonts/karla-bold-webfont.eot');
    src: url('fonts/karla-bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/karla-bold-webfont.woff') format('woff'),
         url('fonts/karla-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


