@font-face {
    font-family: 'mavenpro';
    src: url('fonts/mavenpro-regular-webfont.eot'),
         url('fonts/mavenpro-regular-webfont.woff2') format('woff2'),
         url('fonts/mavenpro-regular-webfont.woff') format('woff'),
         url('fonts/mavenpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mavenpro-Light';
    src: url('fonts/mavenpro-light-webfont.eot'),
         url('fonts/mavenpro-light-webfont.woff2') format('woff2'),
         url('fonts/mavenpro-light-webfont.woff') format('woff'),
         url('fonts/mavenpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mavenpro-Bold';
    src: url('fonts/mavenpro-bold-webfont.eot'),
         url('fonts/mavenpro-bold-webfont.woff2') format('woff2'),
         url('fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('fonts/mavenpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



