@font-face {
    font-family: 'Muli';
    src: url('fonts/muli-regular-webfont.eot'),
         url('fonts/muli-regular-webfont.woff2') format('woff2'),
         url('fonts/muli-regular-webfont.woff') format('woff'),
         url('fonts/muli-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Muli-Light';
    src: url('fonts/muli-light-webfont.eot'),
         url('fonts/muli-light-webfont.woff2') format('woff2'),
         url('fonts/muli-light-webfont.woff') format('woff'),
         url('fonts/muli-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Muli-Bold';
    src: url('fonts/muli-bold-webfont.eot'),
         url('fonts/muli-bold-webfont.woff2') format('woff2'),
         url('fonts/muli-bold-webfont.woff') format('woff'),
         url('fonts/muli-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



