@font-face {
    font-family: 'MyriadWebPro';
    src: url('fonts/MyriadWebPro.eot'),
         url('fonts/MyriadWebPro.woff2') format('woff2'),
         url('fonts/MyriadWebPro.woff') format('woff'),
         url('fonts/MyriadWebPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadWebPro-Light';
    src: url('fonts/MyriadWebPro.eot'),
         url('fonts/MyriadWebPro.woff2') format('woff2'),
         url('fonts/MyriadWebPro.woff') format('woff'),
         url('fonts/MyriadWebPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadWebPro-Bold';
    src: url('fonts/MyriadWebPro-bold.eot'),
         url('fonts/MyriadWebPro-bold.woff2') format('woff2'),
         url('fonts/MyriadWebPro-bold.woff') format('woff'),
         url('fonts/MyriadWebPro-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



