@font-face {
    font-family: 'NassimArabic';
    src: url('fonts/NassimArabic-Regular.eot'),
         url('fonts/NassimArabic-Regular.woff2') format('woff2'),
         url('fonts/NassimArabic-Regular.woff') format('woff'),
         url('fonts/NassimArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NassimArabic-Light';
    src: url('fonts/NassimArabic-Light.eot'),
         url('fonts/NassimArabic-Light.woff2') format('woff2'),
         url('fonts/NassimArabic-Light.woff') format('woff'),
         url('fonts/NassimArabic-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NassimArabic-Bold';
    src: url('fonts/NassimArabic-Bold.eot'),
         url('fonts/NassimArabic-Bold.woff2') format('woff2'),
         url('fonts/NassimArabic-Bold.woff') format('woff'),
         url('fonts/NassimArabic-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



