@font-face {
    font-family: 'northwoods';
    src: url('fonts/northwoods-regular-webfont.eot'),
         url('fonts/northwoods-regular-webfont.woff2') format('woff2'),
         url('fonts/northwoods-regular-webfont.woff') format('woff'),
         url('fonts/northwoods-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'northwoods-Light';
    src: url('fonts/northwoods-light-webfont.eot'),
         url('fonts/northwoods-light-webfont.woff2') format('woff2'),
         url('fonts/northwoods-light-webfont.woff') format('woff'),
         url('fonts/northwoods-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'northwoods-Bold';
    src: url('fonts/northwoods-bold-webfont.eot'),
         url('fonts/northwoods-bold-webfont.woff2') format('woff2'),
         url('fonts/northwoods-bold-webfont.woff') format('woff'),
         url('fonts/northwoods-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



