@font-face {
    font-family: 'nunito';
    src: url('fonts/nunito-regular-webfont.eot'),
         url('fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito-regular-webfont.woff') format('woff'),
         url('fonts/nunito-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito-Light';
    src: url('fonts/nunito-light-webfont.eot'),
         url('fonts/nunito-light-webfont.woff2') format('woff2'),
         url('fonts/nunito-light-webfont.woff') format('woff'),
         url('fonts/nunito-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito-Bold';
    src: url('fonts/nunito-bold-webfont.eot'),
         url('fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('fonts/nunito-bold-webfont.woff') format('woff'),
         url('fonts/nunito-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



