@font-face {
    font-family: 'Orkney';
    src: url('fonts/orkney-regular-webfont.eot');
    src: url('fonts/orkney-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orkney-regular-webfont.woff2') format('woff2'),
         url('fonts/orkney-regular-webfont.woff') format('woff'),
         url('fonts/orkney-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Orkney-Light';
    src: url('fonts/orkney-light-webfont.eot');
    src: url('fonts/orkney-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/orkney-light-webfont.woff2') format('woff2'),
         url('fonts/orkney-light-webfont.woff') format('woff'),
         url('fonts/orkney-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Orkney-Bold';
    src: url('fonts/orkney-bold-webfont.eot');
    src: url('fonts/orkney-bold-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/orkney-bold-webfont.woff2') format('woff2'),url('fonts/orkney-bold-webfont.woff') format('woff'),
         url('fonts/orkney-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



