@font-face {
    font-family: 'Predige';
    src: url('fonts/Predige-Rounded-Regular.eot'),
         url('fonts/Predige-Rounded-Regular.woff2') format('woff2'),
         url('fonts/Predige-Rounded-Regular.woff') format('woff'),
         url('fonts/Predige-Rounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Predige-Light';
    src: url('fonts/Predige-Rounded-Regular.eot'),
         url('fonts/Predige-Rounded-Regular.woff2') format('woff2'),
         url('fonts/Predige-Rounded-Regular.woff') format('woff'),
         url('fonts/Predige-Rounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Predige-Bold';
    src: url('fonts/Predige-Rounded-Regular.eot'),
         url('fonts/Predige-Rounded-Regular.woff2') format('woff2'),
         url('fonts/Predige-Rounded-Regular.woff') format('woff'),
         url('fonts/Predige-Rounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



