
@font-face {
    font-family: 'proximanova-Bold';
    src: url('fonts/proximanova-semibold.woff2') format('woff2'),
         url('fonts/proximanova-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova-light';
    src: url('fonts/proximanova-light.woff2') format('woff2'),
         url('fonts/proximanova-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proximanova';
    src: url('fonts/proximanova-regular.woff2') format('woff2'),
         url('fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
