@font-face {
    font-family: 'PT-Sans-bold';
    src: url(' fonts/PT-Sans-bold-webfont.eot');
    src: url(' fonts/PT-Sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url(' fonts/PT-Sans-bold-webfont.woff2') format('woff2'),
         url(' fonts/PT-Sans-bold-webfont.woff') format('woff'),
         url(' fonts/PT-Sans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PT-Sans';
    src: url('fonts/PT-Sans-regular-webfont.eot');
    src: url('fonts/PT-Sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PT-Sans-regular-webfont.woff2') format('woff2'),
         url('fonts/PT-Sans-regular-webfont.woff') format('woff'),
         url('fonts/PT-Sans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}