@font-face {
    font-family: 'sarabun';
    src: url('fonts/sarabun-regular-webfont.eot'),
         url('fonts/sarabun-regular-webfont.woff2') format('woff2'),
         url('fonts/sarabun-regular-webfont.woff') format('woff'),
         url('fonts/sarabun-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sarabun-Light';
    src: url('fonts/sarabun-light-webfont.eot'),
         url('fonts/sarabun-light-webfont.woff2') format('woff2'),
         url('fonts/sarabun-light-webfont.woff') format('woff'),
         url('fonts/sarabun-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sarabun-Bold';
    src: url('fonts/sarabun-bold-webfont.eot'),
         url('fonts/sarabun-bold-webfont.woff2') format('woff2'),
         url('fonts/sarabun-bold-webfont.woff') format('woff'),
         url('fonts/sarabun-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



