@font-face {
    font-family: 'suisseworks-Bold';
    src: url('fonts/suissebpintl-antique-webfont.eot'),
         url('fonts/suissebpintl-antique-webfont.svg') format('svg'),
         url('fonts/suissebpintl-antique-webfont.woff') format('woff'),
         url('fonts/suissebpintl-antique-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'suisseworks-light';
    src: url('fonts/suissebpintl-thin-webfont.eot'),
         url('fonts/suissebpintl-thin-webfont.svg') format('svg'),
         url('fonts/suissebpintl-thin-webfont.woff') format('woff'),
         url('fonts/suissebpintl-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'suisseworks';
    src: url('fonts/suissebpintl-light-webfont.eot'),
         url('fonts/suissebpintl-light-webfont.svg') format('svg'),
         url('fonts/suissebpintl-light-webfont.woff') format('woff'),
         url('fonts/suissebpintl-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}