@font-face {
    font-family: 'vazir';
    src: url('fonts/vazir-webfont.eot'),
         url('fonts/vazir-webfont.woff2') format('woff2'),
         url('fonts/vazir-webfont.woff') format('woff'),
         url('fonts/vazir-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vazir-Light';
    src: url('fonts/vazir-light-webfont.eot'),
         url('fonts/vazir-light-webfont.woff2') format('woff2'),
         url('fonts/vazir-light-webfont.woff') format('woff'),
         url('fonts/vazir-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vazir-Bold';
    src: url('fonts/vazir-bold-webfont.eot'),
         url('fonts/vazir-bold-webfont.woff2') format('woff2'),
         url('fonts/vazir-bold-webfont.woff') format('woff'),
         url('fonts/vazir-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



