@media (max-width: 775px) {
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
    }
    .page_1 {
        width: 90%;
        margin-left: 5%;
        margin-top: 0;
        padding-top: 25px;
        margin-bottom: 25px;
    }
    .page_2 {
        position: relative;
        width: 100%;
        margin-top: 0px;
        float: left;
        margin-top: 0px;
        margin-left: 0;
        border-radius: 0;
        padding-bottom: 60px;
        background: #f8f8f8;
        padding-right: 35px;
        padding-left: 35px;
    }
    .has-background .page_1,
    .has-background .page_2 {
        width: 90%;
    }
    .has-background .page_2 {
        margin-top: 0;
    }
    .page_2.result-fixed {
        margin-bottom: 10px;
        position: relative;
        top: 0px;
        left: 0px !important;
    }
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
        padding: 7% 0;
        padding-top: 100px;
    }
    .prime-action {
        padding: 11px 30px;
        font-size: 15px;
    }
    .landing-page-mid .main-heading h1 {
        font-size: 38px;
        padding: 0 0px;
        line-height: 42px;
    }
    .landing-page-mid .main-heading {
        font-size: 38px;
        padding: 0 10px;
        line-height: 42px;
    }
    .landing-page-mid .input-section {
        width: 92%;
    }
    .result-branding {
        /*display: none;*/
    }
    .page_2 .disc-set {
        width: 100%;
        text-align: center;
    }
    .page_2 .share-link {
        margin-top: 0px !important;
    }
    /*.main-bg header .logo img {
        max-width: 130px !important;
        max-height: 45px !important;
    }*/
    .powered-by span {
        float: none;
        margin-right: 4px;
        font-size: 10px;
        white-space: nowrap;
        margin-top: 0.16em
    }
    .powered-by .poweredby-text {
        font-size: 14px;
    }
    .stickyfooter {
        position: absolute !important;
    }
    .create-link {
        padding: 5px 10px;
    }
    .landing-page-mid .sub-heading {
        padding: 0 30px;
    }
    .landing-page-mid .input-section .input-outer span {
        font-size: 9px !important;
    }
    .col {
        width: 100%;
        float: left;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .result-scrolling {
        height: auto;
        max-height: none;
    }
    .landing-page-mid .input-section .input-outer input {
        padding-bottom: 5px !important;
    }
    .page_0 .input-outer i {
        top: 18px !important;
        left: 6px;
    }
    .sound-cloud-new .landing-page-mid .input-field label {
        left: 1px;
    }
    .question-components {
        padding-left: 26px;
    }
    .page_2 .input-section input {
        background: none;
    }
    .page_2 .result-full-section {
        padding-bottom: 10px;
    }
    .page_2 .result-temp2-default-section {
        padding-top: 10px;
        width: 100%;
    }
    .page_2 .prefix ~ label,
    .page_2 .input-field .prefix ~ .validate ~ label {
        margin-left: 3px;
    }
    #build .result-branding .stickyfooter,
    .result-branding .lightSticky {
        bottom: 0;
        padding: 20px;
    }
    /*.landing-page-header .logo img {
        max-width: 110px !important;
    }*/
    .selectize-dropdown [data-selectable] {
        padding: 10px;
    }
    .selectize-dropdown-content {
        max-height: 140px;
    }
    .result-branding .stickyfooter {
        bottom: 0;
    }
    .rtr-outer.butnShow {
        display: block;
    }
    .down-arrow-outer {
        display: block;
    }
    .fb_iframe_widget_fluid{
        display: inline-block !important;
    }
}
@media (max-width: 375px) {
    .footer-nav {
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer-nav li {
        width: 100%;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) {
        width: 100% !important;
    }
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        z-index: 999 !important;
    }
    .page_2 .result-full-section .input-section input {
        width: 100% !important;
        margin: 8px 0 !important;
    }
    .result-full-section .input-section .input-outer span {
        margin-left: 0 !important;
    }
    .main-bg header .logo {
        padding: 28px !important;
    }
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
    }
    .redo-link ul li {
        padding: 2px 6px !important;
    }
    .redo-link ul li a {
        font-size: 12px !important;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    .landing-page-mid .input-section {
        width: 90% !important;
        margin: 30px auto 0 0 !important;
        margin-left: 30px !important;
    }
    .landing-page-mid .input-section .input-outer {
        width: 100% !important;
    }
    .like-cta-outer .btn-fb {
        margin: 10px 0 !important;
    }
    .like-cta-outer .btn-twitter {
        margin: 10px auto !important;
        width: 50%;
    }
    .like-cta-outer .btn-lg:nth-child(3) {
        margin-top: 0px !important;
    }
    .input-field input[type=number] {
        width: 50%;
        float: left;
    }
    .page_2 .like-cta-outer .twitter-follow-button {
        margin: 0 auto;
    }
    .page_2 .input-section input {
        background: none;
    }
    .page_2 .input-section .input-outer {
        width: 100%;
        margin-left: 0;
    }
}
@media (min-width: 1366px) {
    .landing-page-mid .input-section {
        margin: 20px auto 0 auto !important;
        min-height: 65px;
    }
    .page_0 .input-outer i {
        top: 18px !important;
        font-size: 18px !important;
        left: 6px;
    }
    .page_1 .question-section .question-components.dropdown-outer-main .selectize-dropdown {
        margin-bottom: 10px;
    }
    .page_2 .prefix ~ label,
    .page_2 .input-field .prefix ~ .validate ~ label {
        margin-left: 4px;
    }
}
@media (min-width: 0px) and (max-width: 768px) {
    .sound-cloud-new [type="checkbox"] + label.leadform-checkbox {
        max-height: initial !important;
        line-height: 1.3 !important;
    }
    .temp2-bg {
        display: none;
    }
    .page_1 {
        width: 86%;
        margin-left: 7%;
    }
    .has-background .page_1 {
        width: 96%;
        margin-left: 2%;
        margin-bottom: 0px; 
    }
    .has-background .page_2 {
        width: 96%;
        margin-left: 2%;
        margin-bottom: 4%;
    }
    .has-background .questions {
        padding: 15px 20px 15px 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .has-bg header .logo {
        text-align: left !important;
        padding-left: 3%;
    }
    .questions .question-section-outer .question-number {
        width: 26px;
        height: 26px;
        font-size: 11px;
        line-height: 27px;
        left: -2px;
        margin-top: -3px;
    }
    .col {
        width: 100%;
        float: left;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .col,
    .powered-by {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .powered-by.lightPowered span {
        color: #585858 !important;
        text-shadow: none !important;
        font-size: 10px;
    }
    .landing-footer-outer .powered-by.lightPowered span {
        /*color: #fff !important;
        text-shadow: 3px 4px 3px rgba(0,0,0,0.5) !important;*/
    }
    .page_2 .share-link {
        width: auto;
        z-index: 999;
        position: relative;
    }
    .redo-link ul li {
        padding: 2px 6px;
    }
    .redo-link ul li a {
        font-size: 12px;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
        margin-top: 15px !important;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    header .logo {
        width: 100% !important;
        text-align: center !important;
    }
    .page_2.result-fixed {
        position: relative !important;
        float: left;
        margin-left: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0 !important;
        margin-bottom: 10px;
        overflow: visible;
    }
    .footer-nav {
        float: left;
        width: 100%;
        text-align: center;
    }
    .footer-nav li {
        width: 100%;
    }
    .page_2 {
        position: relative !important;
        width: 100%;
        float: left;
        margin-top: 0px;
        margin-left: 0;
        border-radius: 0;
        margin-bottom: 0;
        top: 0px !important;
        left: 0px;
    }
    .redo-link {
        position: absolute;
        top: 2.5%;
        right: 2.5%;
        z-index: 999 !important;
    }
    .page_2 .result-full-section .input-section input {
        width: 100% !important;
        margin: 8px 0 !important;
    }
    .result-full-section .input-section .input-outer span {
        margin-left: 0 !important;
    }
    /*.main-bg header .logo {
        padding: 28px !important;
        padding-top: 20px !important;
    }
    .main-bg header .logo img {
        max-width: 130px !important;
        max-height: 45px !important;
    }*/
    .landing-page-mid {
        width: 100%;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 80px;
    }
    .page-logo {
        /*display: none;*/
    }
    .redo-link ul li {
        padding: 2px 6px !important;
    }
    .redo-link ul li a {
        font-size: 12px !important;
    }
    .page_2 .disc-set {
        float: left;
        width: 100%;
    }
    .share-set {
        z-index: 9999;
    }
    .page_2 .share-link ul li a {
        position: relative;
        z-index: 9999;
    }
    .landing-page-mid .input-section {
        width: 90% !important;
        margin: 0 auto !important;
        margin-top: 4px !important;
    }
    .landing-page-mid .input-section .input-outer {
        width: 100% !important;
        margin-left: 0;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) input {
        margin-left: 0 !important;
        margin-right: 10px !important;
        margin-top: 10px !important;
        margin-bottom: 8px !important;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(1):nth-child(odd) span {
        padding-left: 0;
    }
    .landing-page-mid .input-section .input-outer input {
        font-size: 14px !important;
    }
    .landing-footer-outer {
        position: absolute !important;
    }
    .landing-page-mid .main-heading h1 {
        margin-top: 0;
        margin-bottom: 0px !important;
        font-size: 32px;
        line-height: 34px;
        padding: 0 0;
    }
    .landing-page-mid .main-heading {
        margin-top: 2%;
        margin-bottom: 8px !important;
        font-size: 32px;
        line-height: 34px;
        padding: 0 2%;
    }
    .landing-page-mid .sub-heading h2 {
        font-size: 15px;
        line-height: 20px;
        padding: 0 0px;
        margin-bottom: 0px;
    }
    .landing-page-mid .sub-heading {
        font-size: 15px;
        line-height: 20px;
        padding: 0 5px;
        margin-bottom: 10px;
    }
    .landing-page-mid .prime-action {
        padding: 8px 26px;
        margin-top: 10px;
        white-space: normal !important;
    }
    .powered-by img {
        display: inline;
        vertical-align: middle;
    }
    .powered-by .poweredby-text {
        font-size: 13px !important;
    }
    .result-branding {
        /*display: none;*/
    }
    .page_2 .mid-width p {
        font-size: 16px !important;
    }
    .page_2 .like-cta-outer .twitter-follow-button {
        /*margin: 10px 0 -5px 5px !important*/
        
        margin-top: 0px;
    }
    .questions .section-head span div {
        width: 97% !important;
    }
    .has-background .page_2.result-fixed {
        width: 96%;
        margin-left: 2%;
    }
    .page-logo.has-bg {
        margin-left: 0;
        padding-top: 25px;
    }
    .has-background .questions {
        margin-top: 10px;
    }
    @-moz-document url-prefix() {
        .like-cta-outer .twitter-follow-button {
            /*margin-left: 20px !important;*/
        }
        .page_2 .like-cta-outer .twitter-follow-button {
            margin-top: 10px;
        }
        .fb_iframe_widget_fluid {
            display: inline-block !important;
        }

    }
    .input-field input {
        width: 100%;
    }
    .likes-parent {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
    }
    .page_0 .input-outer i {
        left: 5px !important;
    }
    .section-control {
        padding-left: 0px;
    }
    .question-components {
        padding-left: 28px;
    }
    .questions .section-head {
        font-size: 15px;
        line-height: 21px;
    }
    .landing-page-mid .input-section .input-outer {
        min-height: 62px;
    }
    .page_2 .input-section input {
        background: none;
    }
    .page_2 .input-section .input-outer {
        width: 100%;
        margin-left: 0;
    }
    .page_2 .prefix ~ label,
    .page_2 .input-field .prefix ~ .validate ~ label {
        margin-left: 3px;
    }
    .input-field label:not(.label-icon).active {
        font-size: 1rem !important;
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
        text-transform: uppercase;
    }
    .landing-page-mid .input-section .input-outer:nth-child(even) {
        margin-left: 0;
    }
    .landing-page-mid .input-section .input-outer:nth-last-child(2):nth-child(even) {
        width: 100% !important;
    }
    .page_0 .landing-page-mid .selectize-control.single .selectize-input {
        max-height: 46px;
    }
    .sound-cloud-new [type="checkbox"] + label.leadform-checkbox {
        white-space: inherit;
        line-height: 24px;
    }
    .questions .question-head {
        font-size: 18px;
        margin-bottom: 2px;
    }
    .questions .question-subhead {
        font-size: 15px;
    }
    .sound-cloud-new .page_2 [type="checkbox"] + label.leadform-checkbox {
        margin-top: 15px !important;
    }
    .range-slider .irs-slider {
        top: 22px;
        width: 25px;
        height: 25px;
        z-index: 99 !important;
    }
    .result-branding .stickyfooter {
        bottom: 0;
    }
    .has-background .page_2 {
        display: inline-block;
    }
    .down-arrow-outer {
        display: block;
    }
    .range-slider.char-count-slider .irs-single {
        padding: 1px 4px !important;
        max-width: 65px !important;
    }
    .range-slider.char-count-slider .irs-min, .range-slider.char-count-slider .irs-max{
        padding: 1px 4px !important;
        max-width: 65px !important; 
    }
    .range-slider .irs-slider {
        top: 25px;
        width: 20px;
        height: 20px;
        z-index: 99 !important;
    }
    .questionnaire .logo a img.vert {
        max-width: 45px;
        max-height: 50px;
    }
    .questionnaire .logo a img.horz {
        max-width: 120px;
        max-height: 35px;
    }
    .main-bg header .logo {
        padding: 28px!important;
        padding-top: 20px!important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .landing-page-mid .main-heading h1 {
        font-size: 42px;
        line-height: 46px;
        margin-top: 0px;
    }
    .landing-page-mid .main-heading h1 {
        font-size: 42px;
        line-height: 46px;
        margin-top: 30px;
    }
    .prime-action {
        font-size: 16px;
        padding: 9px 30px;
    }
    .landing-page-mid .input-section .input-outer input {
        font-size: 16px !important;
    }
    .landing-page-mid .sub-heading,
    .landing-page-mid .sub-heading h2 {
        font-size: 16px;
        line-height: 22px;
    }
    /*.landing-page-header a img {
        max-width: 180px;
        max-height: 60px;
    }*/
}
@media (max-width: 1023px) {
    .page_2 .mid-width p {
        font-size: 16px !important;
    }
    .page_0 .input-outer i {
        top: 16px !important;
    }
}
@media (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
    .landing-page-mid .main-heading h1,
    .landing-page-mid .main-heading h1 {
        font-size: 42px;
        line-height: 46px;
    }
    /*.landing-page-header a img {
        max-width: 170px;
        max-height: 70px;
    }
    .logo a img {
        max-height: 70px;
        max-width: 170px !important;
    }
    .ques-header .logo a img {
        max-width: 150px;
        max-height: 70px;
    }
    .res-header .logo a img {
        max-width: 150px;
        max-height: 70px;
    }*/
    .page_0 .input-outer i {
        top: 18px;
        font-size: 18px;
    }
}
@media (min-width: 1680px) {
    /*.main-bg header .logo img {
        max-height: 70px !important;
        max-width: 180px !important;
    }
    .landing-page-header .logo img {
        max-height: 70px !important;
    }
    .page-logo img {
        max-height: 70px !important;
    }*/
    .landing-page-mid {
        padding: 7% 8%;
    }
    .landing-page-mid .main-heading,
    .landing-page-mid .main-heading h1 {
        font-size: 9vmin;
        line-height: 1.1em;
    }
    .landing-page-mid .sub-heading,
    .landing-page-mid .sub-heading h2 {
        font-size: 3.4vmin;
        line-height: 1.4em;
    }
    .prime-action {
        font-size: 2.6vmin;
        padding: 1vmin 4vmin;
    }
    .sound-cloud-new select.leadform-select {}
}
@media (min-width: 1680px) and (max-width: 1920px) {
    .landing-page-mid .sub-heading {
        font-size: 26px;
        line-height: 36px;
        width: 90%;
        margin: auto 5%;
        margin-bottom: 8px;
    }
    .landing-page-mid .sub-heading h2 {
        font-size: 26px;
        line-height: 36px;
        width: 100%;
        margin: auto 0;
        margin-bottom: 0px;
    }
    .page_0 .input-outer i {
        top: 14px !important;
    }
    .input-field label:not(.label-icon).active {
        font-size: 1.3rem !important;
    }
    .sound-cloud-new .landing-page-mid .input-field label {
        top: 12px;
    }
    .page_2 .share-link ul li a {
        font-size: 22px !important;
    }
    .landing-page-mid .input-section {
        margin: 25px auto 0 auto !important;
    }
    /*css for builder */
    
    .template-section .landing-page-mid .input-section .input-outer span {
        left: 12px;
    }
    .has-background-tint {
        min-height: 100vh;
    }
    .overlay-outer {
        min-height: 100vh;
    }
    .range-slider.char-count-slider .irs-min, .range-slider.char-count-slider .irs-max {
        font-size: 12px !important;
        top: -10px !important;
    }
    .range-slider.char-count-slider .irs-single {
        font-size: 12px !important;
        top: -10px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .main-bg {
        min-height: 500px;
    }
    /*.main-bg header .logo img {
        max-width: 130px !important;
    }*/
    .landing-page-mid .main-heading,
    .landing-page-mid .main-heading h1 {
        font-size: 40px;
        line-height: 44px;
    }
    .landing-page-mid .sub-heading h2,
    .landing-page-mid .sub-heading h2 {
        font-size: 15px;
        line-height: 20px;
    }
    .landing-page-mid .prime-action {
        font-size: 13px;
        margin-top: 16px;
    }
    /*.landing-page-header .logo img {
        max-width: 110px !important;
    }*/
    .questions .question-head {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 0px;
    }
    .questions .question-subhead {
        font-size: 14px;
        line-height: 18px;
    }
    .questions .section-head {
        font-size: 14px;
        line-height: 19px;
    }
    .questions .question-section-outer .question-number {
        width: 25px;
        height: 25px;
        line-height: 26px;
        left: 0px;
        font-size: 10px;
    }
    .irs-min,
    .irs-max {
        font-size: 10px;
    }
    .irs-single,
    .irs-to {
        font-size: 10px;
    }
    .selectize-input .item {
        font-size: 13px;
    }
    .selectize-dropdown [data-selectable],
    .selectize-dropdown .optgroup-header {
        font-size: 13px;
        padding: 10px;
    }
    .selectize-control.single .selectize-input {
        padding: 18px 35px 8px 11px;
    }
    .page_0 .landing-page-mid .selectize-control.single .selectize-input {
        max-height: 46px;
    }
    .sound-cloud-new [type="radio"] + label:before,
    .sound-cloud-new [type="radio"] + label:after {
        width: 16px;
        height: 16px;
    }
    .sound-cloud-new [type="radio"]:not(:checked) + label,
    .sound-cloud-new [type="radio"]:checked + label {
        line-height: 24px;
        min-height: 24px;
        padding-left: 35px;
    }
    .radio-outer {
        margin-bottom: 4px;
    }
    .sound-cloud-new [type="radio"]:not(:checked) + label:before,
    .sound-cloud-new [type="radio"]:not(:checked) + label:after {
        margin: 4px 12px;
    }
    .questions .question-section-outer .input-field input {
        padding: 9px 15px;
    }
    .page_2 .result-full-section.result-temp2-default-section .small-top-sec p:nth-child(1) {
        font-size: 22px;
        line-height: 26px;
    }
    .sound-cloud-new .page_2 [type="checkbox"] + label.leadform-checkbox {
        margin-top: 20px;
    }
    /*logo styling*/
    .questionnaire .logo a img.vert {
        max-width: 50px;
        max-height: 55px;
    }
    .questionnaire .logo a img.horz {
        max-width: 130px;
        max-height: 40px;
    }
}