@font-face {
    font-family: 'latoblack';
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-black-webfont.eot');
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-black-webfont.woff2') format('woff2'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-black-webfont.woff') format('woff'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-bold-webfont.eot');
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-bold-webfont.woff') format('woff'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-regular-webfont.eot');
    src: url('../../fonts/templateFonts/fonts_varient/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-regular-webfont.woff') format('woff'),
         url('../../fonts/templateFonts/fonts_varient/fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'material_iconsregular';
    src: url('../../fonts/materialIcons-Regular.woff2') format('woff2'),
         url('../../fonts/materialIcons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/MaterialIcons-Regular.eot); 
  src: local('Material Icons'),
       local('materialIcons-Regular'),
       url('../../fonts/materialIcons-Regular.woff2') format('woff2'),
       url('../../fonts/materialIcons-Regular.woff') format('woff'),
       url('../../fonts/materialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

